#aggregation {
    width: calc(100% - 20px);
    margin: 10px;
    margin-top: 50px;
}
#aggregation-variables {
    padding-left: 0;
}
.aggregation-items {
    list-style-type: none;
}
.aggregation-variable {
    width: calc(100% - 47px);
    margin: 5px;
}
.aggregation-tables {
    margin-bottom: 10px;
}