#flow {
    margin: 15px;
    margin-top: 50px;
    height: calc(100% - 65px);
  }
#flow-variables {
    padding-left: 0;
}
.flow-items {
    list-style-type: none;
}
.flow-selector {
    width: calc(100% - 47px);
    margin: 5px;
}