#map {
    width: 100%;
    height: 100%;
    background: #d3d9db;
    cursor: -webkit-grab;
}

#map:hover:active {
    cursor: hold;
}

#map-nodes circle.selected {
    stroke: #ff8300;
    stroke-width: 4px;
    /* stroke-dasharray: 6, 13;
    animation-duration: 1s;
    animation-name: ripple;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}