<div class="m-content">
    <div class="m-portlet__body" style="height: 100%;">
        <br />
        <div className="phylocanvas" id="phylocanvas" style="height: 100%"></div>
    </div>
</div>
<div class="view-controls">
    <p-dialog id="phylotree-settings-pane" 
                [positionLeft]="PhylogeneticTreeExportDialogSettings.left" 
                [positionTop]="PhylogeneticTreeExportDialogSettings.top" 
                [(visible)]="PhylogeneticTreeExportDialogSettings.isVisible"  
                header="Phylogenetic Tree Settings" 
                >
        <tabset class="tab-container tabbable-line">
            <tab heading="{{'Tree' | localize}}" [active]="true" customClass="m-tabs__item">
                <p-accordion>
                    <p-accordionTab style="color:#495057" header="Layout">
                        <div #treecontrolslabels>
                            <div class="form-group row tree-type-row" title="What kind of tree should be displayed?">
                                <div class="col-4"><label for="tree-type">Type</label></div>
                                <div class="col-8">
                                    <select id="tree-type" [(ngModel)]="SelectedTreeTypeVariable" (ngModelChange)="onTreeTypeChange($event)">
                                        <option selected>Weighted Dendrogram</option>
                                        <option>Unweighted Dendrogram</option>
                                        <option>Tree</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row tree-layout-row" title="What layout should the tree have?">
                                <div class="col-4"><label for="tree-layout">Layout</label></div>
                                <div class="col-8">
                                    <select id="tree-layout" [(ngModel)]="SelectedTreeLayoutVariable" (ngModelChange)="onTreeLayoutChange($event)">
                                        <option selected>Rectangular</option>
                                        <option>Radial</option>
                                        <option>Circular</option>
                                        <option>Diagonal</option>
                                        <option>Hierarchical</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </tab>

            <tab heading="{{'Leaves' | localize}}" customClass="m-tabs__item">
                <p-accordion>
                    <p-accordionTab style="color:#495057" header="Labels and Tooltips">
                        <div #linkcontrolslabels>
                            <div class="form-group row" title="What data should be displayed when you hover over a link?">
                                <div class="col-4"><label for="link-tooltip-variable">Tooltip</label></div>
                                <div class="col-8">
                                    <p-dropdown id="link-tooltip-variable" [options]="ToolTipFieldList" appendTo="body" [(ngModel)]="SelectedLinkTooltipVariable" (ngModelChange)="onLinkTooltipVariableChange($event)"></p-dropdown>
                                </div>
                            </div>
                            <div class="form-group row" title="What data should be displayed when you hover over a link?">
                                <div class="col-4"><label for="link-label-variable">Label</label></div>
                                <div class="col-8">
                                    <p-dropdown id="link-label-variable" [options]="ToolTipFieldList" appendTo="body" [(ngModel)]="SelectedLinkLabelVariable" (ngModelChange)="onLinkLabelVariableChange($event)"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>

                    <p-accordionTab style="color:#495057" header="Shapes and Sizes">
                    </p-accordionTab>


                    <p-accordionTab style="color:#495057" header="Colors">
                        <button pButton type="button" label="Show Colors" class="ui-button-raised" (click)="showGlobalSettings()"></button>
                    </p-accordionTab>

                </p-accordion>
            </tab>

            <tab heading="{{'Branches' | localize}}" customClass="m-tabs__item">
                <p-accordion>
                    <p-accordionTab style="color:#495057" header="Labels and Tooltips">
                    </p-accordionTab>

                    <p-accordionTab style="color:#495057" header="Shapes and Sizes">
                    </p-accordionTab>


                    <p-accordionTab style="color:#495057" header="Colors">
                    </p-accordionTab>

                </p-accordion>
            </tab>
        </tabset>

    </p-dialog>



</div>
