<div class="table-wrapper">
    <div id="tool-btn-container" class="m-portlet" style="width: calc(100% - 20px); gap: 15px;">
        <span style="flex-grow: 0; min-width: 84px">
            <span class="tool-btn" style="overflow: visible; position: relative; display: inline;">
                <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
            </span>
            <span  class="tool-btn" style="overflow: visible; position: relative; width: 80px; display: inline;">
                <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openExport()"><i class="flaticon-download primary"></i></a>
            </span>
        </span>
        <span style="display: inline-block; flex-grow: 0; line-height: 44px;">Dataset:</span>
        <span class="data-types" id="dataType" style="overflow: visible; position: relative; width: 150px; display: inline; flex-grow: 0;">
            <p-dropdown #dataSet [options]="dataSetView" [(ngModel)]="dataSetViewSelected" (onChange)="openSelectDataSetScreen($event)" [style]="{'width': '110px'}"></p-dropdown>
        </span>
        <span style="flex-grow: 1; width: calc(100% - 295px)">
            <p-multiSelect [options]="SelectedTableData.availableColumns" [(ngModel)]="SelectedTableData.tableColumns" [showToggleAll]=false [style]="{'max-width': '100%'}"></p-multiSelect>
        </span>
    </div>

<div class="row align-items-center">
    <!-- [busyIf]="primengTableHelper.isLoading" -->
    <div class="primeng-datatable-container">
        <p-table #dt *ngIf="IsDataAvailable == true && SelectedTableData" 
            [value]="SelectedTableData.data" 
            [rowHover]="true"
            [rows]="selectedRows" 
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,25,50,75,100, { showAll: 'All' }]" 
            [loading]="loading" 
            [paginator]="true" 
            [filterDelay]="1000"
            (onFilter)="onFilter($event)" 
            selectionMode="{{TableType === 'node' ? 'multiple' : null}}"
            [(selection)]="SelectedTableData.dataSelection" 
            (onRowSelect)="onRowSelect($event)"
            (onRowUnselect)="onRowUnselect($event)" 
            [scrollable]="true"
            [scrollHeight]="scrollHeight"
            [tableStyle]="tableStyle"
            [styleClass]="selectedSize"
            ScrollWidth="100%"
            [resizableColumns]="true" 
            columnResizeMode="expand"     
            [columns]="SelectedTableData.tableColumns"
            [reorderableColumns]="true">
            <!-- [responsive]="true"  -->
            <!-- [autoLayout]="true" 
            styleClass="ui-table-responsive"  -->
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of SelectedTableData.tableColumns">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr [pSelectableRow]="datarow">
                    <th style="width: 150px; border: none" pSortableColumn="{{col.field}}" pReorderableColumn *ngFor="let col of SelectedTableData.tableColumns">
                        {{col.header}}<p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th style="width: 150px; border: none"  *ngFor="let col of SelectedTableData.tableColumns">
                        <div class="wrapper">
                            <select class="filterType" [(ngModel)]="col.filterType" (change)="onTableFilter(col)">
                                <option *ngFor="let filterType of filterTypes" [ngValue]="filterType.value">{{filterType.label}}
                                </option>
                            </select>
                            <input class="item" pInputText type="text" (input)="onTableFilter(col)"
                                [(ngModel)]="col.filterValue" class="p-column-filter" style="width:100%;">
                        </div>
                    </th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-datarow>
                <tr class="ui-selectable-row" [pSelectableRow]="datarow">
                    <td style="width: 150px"  *ngFor="let col of SelectedTableData.tableColumns">
                        {{datarow[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="m-content" *ngIf="IsDataAvailable == false">
    <div id="file-panel" class="container-fluid" style="height:500px;">
        <div id="file-prompt" class="d-flex justify-content-center">
            <h1><b>Please add data files to load...</b></h1>
            <br />
        </div>
    </div>
</div>


<p-dialog *ngIf="viewActive" id="table-settings-pane" [(visible)]="ShowTableSettingsPane" header="Table Settings" [style]="{width: '400px', height:'250px'}" appendTo="body">
    <tabset class="tab-container tabbable-line" style='width: 100%;'>
        <tab heading="{{'Table' | localize}}" [active]="true" customClass="m-tabs__item">
            <div class="tab-pane fade show active" id="table-node-settings" role="tabpanel"aria-labelledby="nodes-tab">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="table-tab">
                        <div class="form-group row"
                            title="What size would you like the Table's font to be?">
                            <div class="col-4"><label for="table-font-size">Size</label></div>
                            <div class="col-8">
                                <p-selectButton [options]="sizes" [(ngModel)]="selectedSize" [multiple]="false" optionLabel="name" optionValue="class"></p-selectButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</p-dialog>


<p-dialog *ngIf="viewActive" [(visible)]="ShowTableExportPane" header="Export Table" appendTo="body">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style='width: 400px; height: 100%;'>
                <div class="form-group row">
                    <div class="col-8">
                        <input type="text" style="height:42px" class="form-control form-control-sm"
                            placeholder="Filename" [(ngModel)]="SelectedTableExportFilenameVariable">
                    </div>
                    <div class="col-4">
                        <p-dropdown [options]="TableExportFileTypeList"
                            [(ngModel)]="SelectedTableExportFileTypeListVariable" appendTo="body"></p-dropdown>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 10px;" title="Do you want to export all the columns in the data or just the currently selected columns?">
                    <div class="col-6"><label>Columns to Export</label></div>
                    <div class="col-6">
                        <p-selectButton [style]="{'float': 'right'}" [options]="exportColumnOptions" [(ngModel)]="exportAllColumns"></p-selectButton>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error"
                    (click)="ShowTableExportPane = !ShowTableExportPane">Cancel</button>
                <button type="button" class="btn btn-primary"
                    (click)="exportVisualization()">Export</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</p-dialog><!-- /.modal -->
</div>