<div class="m-content">
    <div id="tool-btn-container" class="m-portlet">
        <span style="overflow: visible; position: relative; width: 110px;">
            <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left"
                (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
        </span>
        <span style="overflow: visible; position: relative; width: 110px;">
            <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left"
                (click)="openExport()"><i class="flaticon-download primary"></i></a>
        </span>
        <span style="overflow: visible; position: relative; width: 110px;">
            <a title="Center Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left"
                (click)="openCenter()"><i class="flaticon-eye primary"></i></a>
        </span>
    </div>
    <div class="m-portlet__body" style="height: 100%; overflow: scroll">
        <br />
        <div id="heatmap">
        </div>
    </div>
</div>

<div class="view-controls">
    <p-dialog *ngIf="viewActive" id="heatmap-settings-pane" 
              [positionLeft]="HeatmapSettingsDialogSettings.left" 
              [positionTop]="HeatmapSettingsDialogSettings.top" 
              [(visible)]="HeatmapSettingsDialogSettings.isVisible"  
              [contentStyle]="{'overflow': 'visible'}"
              header="Heatmap Settings" appendTo="body"
              >
              <tabset class="tab-container tabbable-line">
              <tab heading="{{'Heatmap' | localize}}" [active]="true" customClass="m-tabs__item">
              <p-accordion [multiple]='true'>
                  <p-accordionTab style="color:#495057" header="Invert" [active]="true">
                      <div>
                          <div class="form-group row invert-x-axis-row" title="Should X Axis be Inverted?" style="overflow:visible">
                              <div class="col-4"><label for="x-invert">Invert X Axis</label></div>
                              <div class="col-8">
                                  <p-selectButton id="x-invert" [options]="invertOptions" [(ngModel)]="invertX" (ngModelChange)="redrawHeatmap()"></p-selectButton>
                              </div>
                          </div>
                          <div class="form-group row invert-y-axis-row" title="Should Y Axis be Inverted?" style="overflow:visible">
                              <div class="col-4"><label for="y-invert">Invert Y Axis</label></div>
                              <div class="col-8">
                                  <p-selectButton id="y-invert" [options]="invertOptions" [(ngModel)]="invertY" (ngModelChange)="redrawHeatmap()"></p-selectButton>
                              </div>
                          </div>
                      </div>
                  </p-accordionTab>
                  <p-accordionTab style="color:#495057" header="Color" [active]="true">
                      <div>
                        <div class="form-group row gantt-color-row" title="What Should be the low color?" style="overflow:visible">
                            <div class="col-4"><label for="low-color">Low Color</label></div>
                            <div class="col-8">
                                <input type="color" id="low-color" [(ngModel)]="loColor">
                            </div>
                        </div>
                        <div class="form-group row gantt-color-row" title="What Should be the medium color?" style="overflow:visible">
                            <div class="col-4"><label for="med-color">Medium Color</label></div>
                            <div class="col-8">
                                <input type="color" id="med-color" [(ngModel)]="medColor">
                            </div>
                        </div>
                        <div class="form-group row gantt-color-row" title="What Should be the high color?" style="overflow:visible">
                            <div class="col-4"><label for="hi-color">High Color</label></div>
                            <div class="col-8">
                                <input type="color" id="hi-color" [(ngModel)]="hiColor">
                            </div>
                        </div>
                      </div>
                  </p-accordionTab>
                  <p-accordionTab style="color:#495057" header="Labels">
                      <div>
                          <div class="form-group row label-visible-row" title="Should Labels be Displayed?" style="overflow:visible">
                              <div class="col-4"><label for="show-labels">Invert X Axis</label></div>
                              <div class="col-8">
                                  <p-selectButton id="show-labels" [options]="hideShowOptions" [(ngModel)]="heatmapShowLabels" (ngModelChange)="redrawHeatmap()"></p-selectButton>
                              </div>
                          </div>
                      </div>
                  </p-accordionTab>
              </p-accordion>
              </tab>

              </tabset>
    </p-dialog>
</div>