<svg [attr.width]="width" [attr.height]="height" version="1.1" xmlns="http://www.w3.org/2000/svg" >
<pattern [attr.id]="gridID" 
[attr.x]="ganttChartService.xPadding + 150" [attr.y]="ganttChartService.yPadding" 
[attr.width]="gridWidthX" [attr.height]="gridWidthY" 
patternUnits="userSpaceOnUse">
    <path [attr.d]="gridPath" fill="none" stroke="#444444" stroke-width="0.5" />
</pattern>

<rect [attr.x]="ganttChartService.xPadding + 150" 
[attr.y]="ganttChartService.yPadding" 
[attr.width]="ganttChartService.rectWidth" 
[attr.height]="ganttChartService.rectHeight" 
stroke="#444444" [attr.fill]="'url(#' + gridID + ')'" stroke-width="1"/>

<g *ngFor="let x of xAxis" [ngStyle]="{'transform': x.transform}">
<text class="x-axis-text small" text-anchor="end" dominant-baseline="middle" [textContent]="x.value">{{x.value}}</text>
</g>

<text
*ngFor="let y of yAxis" class="y-axis-text small" text-anchor="end"
[attr.y]="y.yPos" [attr.x]="150+ganttChartService.xPadding-30" [textContent]="y.value">{{y.value}}</text>


<!-- Legion -->
<rect [attr.x]="ganttChartService.xPadding + 150" 
[attr.y]="ganttChartService.yPadding * 2 + 100 + ganttChartService.rectHeight" 
[attr.width]="ganttChartService.legionWidth" 
[attr.height]="ganttChartService.legionHeight" 
fill="#f1f1f1" />


<g *ngFor="let legionLine of ganttChartService.legion; index as i">
  <g *ngFor="let legionEntry of legionLine; index as j">
      <rect *ngIf="ganttChartService.legionWidth" 
      [attr.x]="ganttChartService.xPadding + 150 + ganttChartService.legionWidth / 3 * 0.1 + ganttChartService.legionWidth / 3 * j" 
      [attr.y]="ganttChartService.yPadding * 2 + 100 + ganttChartService.rectHeight + 20 + 40*i + 10" 
      [attr.width]="ganttChartService.legionWidth / 3 * 0.2" 
      [attr.height]="20" 
      rx="6" ry="6"
      [attr.fill]="legionEntry.color" />

      <!-- <path class="legion-line" [attr.d]="computeLegionPath(i)" fill="none" [attr.stroke]="x.color" /> -->
      <text class="axis-text" dominant-baseline="middle"
      [attr.x]="ganttChartService.xPadding + 150 + ganttChartService.legionWidth / 3 * j + ganttChartService.legionWidth / 3 * 0.4" 
      [attr.y]="ganttChartService.yPadding * 2 + 100 + ganttChartService.rectHeight + 20 + 40*i + 20" class="small"> {{ legionEntry.name }} </text>
  </g>
</g>
  <g *ngFor="let phase of ganttChartService.ganttPhases; index as i">
    <g id="component" *ngFor="let ganttEntry of phaseTimelines[phase]; index as j">
        <rect class="gantt-entry"
        [attr.x]="xPadding + 150 + ganttChartService.transformGanttDate(ganttEntry.from)" 
        [attr.y]="i * 60 + yPadding + 20" 
        [attr.width]="getWidth(ganttEntry)"
        [attr.height]="20" 
        rx="6" ry="6"
        [attr.fill]="ganttEntry.color"
        opacity="{{ganttEntry.opacity}}" />

        <!-- [attr.x]="x + 150 + ganttChartService.transformGanttDate(ganttEntry.from)" 
        [attr.y]="i * 60 + y + 20"  -->
        <g class="tooltip" [ngStyle]="{
          'transform': 'translate(' + (xPadding + 150 + ganttChartService.transformGanttDate(ganttEntry.to) - ((ganttChartService.transformGanttDate(ganttEntry.to) - ganttChartService.transformGanttDate(ganttEntry.from)) / 2)) + 'px, ' + (i * 60 + yPadding - 5) + 'px)',
          'display': ganttEntry.toolTip}" 
        opacity="0.9">
          <rect rx="5" width="200" height="25"></rect>
          <text x="15" y="16">{{ ganttEntry.info }}</text>
          </g>
    </g>
  </g>
</svg>