.dialogSize{
    width: 30vw;
    height: 150px;
    min-width: 150px;
}

:host {
  position: absolute;
  overflow: hidden;
  z-index: 1 !important;
  padding: 1px;
  /*top: 37px !important;
  left: 1px !important; 
  width: 99% !important; */ 
}

.network {
  margin-top: 0 !important;
  cursor: grab;
}

.ui-dropdown {
    width: 100% !important;
}

.display-none {
  display: none;
}

.bottom-table{
    font-size: calc((.5vmax));   
}

#node-max-radius-row, #node-min-radius-row {
  display: none;
}

.clusters path {
    cursor: -webkit-grab;
    cursor: grab;
  }

:host ::ng-deep {
  .p-accordion-tab:not(.p-accordion-tab-active) {
    .p-toggleable-content {
      height: 0;
      overflow: hidden;
    }
  }

  .p-accordion-tab.p-accordion-tab-active {
    .p-toggleable-content {
      height: auto !important;
      overflow: auto !important;
    }
  }
}

  /* Button appearance on hover */
.btn-icon:hover {
  transform: scale(1.1); /* Slight enlarge on hover */
  background-color: rgba(0, 0, 0, 0.1); /* Subtle background color on hover */
}

.btn-icon {
  margin-right: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.flaticon-settings:before {
  font-weight: 800 !important;
}

.flaticon-pin:before {
  font-weight: 800 !important;
}

.flaticon-download:before {
  font-weight: 800 !important;
}

#network-export-filename{
  height: 42px;  
}

#network-attribute-table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

#network-attribute-table td, #network-attribute-table th {
  text-align: left;
  padding: 2px;
  border: 1px solid #ddd;
}

#network-attribute-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#network-attribute-table tr:nth-child(odd) {
  background-color: #fff;
}
