<div class="msa-viewer-container">
    <div id="msa-viewer" [style.height.px]="alignmentViewHeight">
        <div class="left">  
            <div style="text-align: center;" [style.width.px]="leftWidth">
                <div id='miniMapTitle' class="title" title="Mini Map of entire length for all the sequences. Click to move to an area of the viewer.">Mini Map</div>
                <div id='alignmnetTopTitle' class="title" style="height: 100px; line-height: 100px;"></div>
                <div class="title" style="height: 43px; line-height: 43px;" title="Number of Nucleotides from the start of the sequence">Ruler</div>
                <div style="height: 17px;"></div>
            </div>
            <div class="canvasLabels" [style.height.px]="canvasViewHeight-17" [style.width.px]="leftWidth" #canvasLabels (scroll)="canvasHolder.scrollTop=canvasLabels.scrollTop">
                <div *ngFor="let label of labelArray" [attr.data-index]="label['index']" [ngStyle]="{'font-size.px': fontSize, 'height.px': spanHeight}">{{ label[ this.widgets['alignView-labelField'] ] }}</div>
            </div>
        </div>
        <div class="right" [style.height.px]="rightViewHeight">
            <div id="miniMapHolder">
                <div id="miniMap" (mouseenter)="showMiniMapHighlight($event, miniMap)" (mousemove)="updateMiniMapHighlight($event, miniMap)" (mouseleave)="hideMiniMapHighlight()" (click)="miniMapClick($event, miniMap, canvasHolder, canvasLabels, alignmentTop)" #miniMap>
                    <div id="miniMapHighlight"></div>
                    <!--<canvas> for miniMap here-->
                </div>
            </div>
            <div id="alignmentTop" (scroll)="canvasHolder.scrollLeft=alignmentTop.scrollLeft" [style.width.px]="rightWidth" #alignmentTop>
                <svg [attr.width]="spanWidth*proportionMatrix.length+17" height="140" style="background-color: white;" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g *ngFor="let nt of proportionMatrix; index as i">
                        <g *ngIf="this.widgets['alignView-topDisplay'] === 'barplot'">
                            <g *ngFor="let prop of nt; index as j">
                                <rect *ngIf="prop>0" [attr.y]="positionMatrix[i][j]" [attr.x]="spanWidth*i" [attr.height]="100*prop" [attr.width]="spanWidth" [attr.fill]="fillColor(j)"/>
                            </g>
                        </g>
                        <g *ngIf="this.widgets['alignView-topDisplay'] === 'logo'">
                            <g class="A" *ngIf="nt[0]>0" [attr.transform]="'translate(' + spanWidth*i + ', ' + positionMatrix[i][0] + ') scale(' + spanWidth/100 + ', ' + nt[0] + ')'" 
                                [attr.fill]="fillColor(0)">
                                <path d="M 0 100 L 33 0 L 66 0 L 100 100 L 75 100 L 66 75 L 33 75 L 25 100 L 0 100"/>
                                <path fill="#ffffff" d="M 41 55 L 50 25 L 58 55 L 41 55"/>
                            </g>
                            <path class="C" *ngIf="nt[1]>0" [attr.transform]="'translate(' + spanWidth*i + ', ' + positionMatrix[i][1] + ') scale(' + spanWidth/100 + ', ' + nt[1] + ')'" 
                                [attr.fill]="fillColor(1)"
                                d="M 100 28 C 100 -13 0 -13 0 50 C 0 113 100 113 100 72 L 75 72 C 75 90 30 90 30 50 C 30 10 75 10 75 28 L 100 28"/>
                            <path class="G" *ngIf="nt[2]>0" [attr.transform]="'translate(' + spanWidth*i + ', ' +  positionMatrix[i][2] + ') scale(' + spanWidth/100 + ', ' + nt[2] + ')'" 
                                [attr.fill]="fillColor(2)"
                                d="M 100 28 C 100 -13 0 -13 0 50 C 0 113 100 113 100 72 L 100 48 L 55 48 L 55 72 L 75 72 C 75 90 30 90 30 50 C 30 10 75 5 75 28 L 100 28"/>
                            <path class="T" *ngIf="nt[3]>0" [attr.transform]="'translate(' + spanWidth*i + ', ' + positionMatrix[i][3] + ') scale(' + spanWidth/100 + ', ' + nt[3] + ')'" 
                                [attr.fill]="fillColor(3)"
                                d="M 0 0 L 0 20 L 35 20 L 35 100 L 65 100 L 65 20 L 100 20 L 100 0 L 0 0"/>
                        </g>
                        <g *ngIf="i %100 == 0 || i==0">
                            <text y="120" [attr.x]="i >= 100 ? spanWidth*i-10 : spanWidth*i">{{ i }}</text>
                            <text y="140" [attr.x]="spanWidth*i">|</text>
                        </g>
                        <g *ngIf="i % this.widgets['alignView-rulerMinorInterval'] == 0 && i%100 != 0">
                            <text y="120" [attr.x]="i >= 100 ? spanWidth*i-10 : spanWidth*i-5">{{ i }}</text>
                            <text y="140" [attr.x]="spanWidth*i">:</text>
                        </g>
                        <rect [attr.width]="spanWidth" [attr.x]="spanWidth*i" height="100" y="0" style="fill: transparent" (mouseenter)="showTooltip($event, i)" (mouseleave)="hideTooltip()"/>
                    </g>
                </svg>
            </div>
            <div class="canvasHolder" [style.height.px]="canvasViewHeight" [style.width.px]="rightWidth" (scroll)="canvasScroll(canvasHolder, canvasLabels, alignmentTop)" #canvasHolder></div>
        </div>
    </div>
</div>

<div id="tooltipHolder">
    <div class="triangle"></div>
    <span id="tooltipAlign"></span>
</div>

<div id="tool-btn-container" class="m-portlet">
    <span style="overflow: visible; position: relative; width: 110px;">
        <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
    </span>
    <span style="overflow: visible; position: relative; width: 110px;">
        <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openExport()"><i class="flaticon-download primary"></i></a>
    </span>
</div>

<div class="view-controls">
    <p-dialog *ngIf="viewActive" id="alignment-settings-pane" [(visible)]="alignmentDialogSettings.isVisible" appendTo="body" header="Alignment View Settings" >
        <p-accordion>
            <p-accordionTab style="color:#495057" header="Layout">
                <div #layoutControls>
                    <div class="form-group row" title="Show or Hide the Mini Map">
                        <div class="col-4"><label>Show Mini-Map</label></div>
                        <div class="col-8">
                            <p-selectButton [options]="showHideOptions" [(ngModel)]="this.widgets['alignView-showMiniMap']" (onChange)="updateMiniMapVisibility()"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-group row" title="Switch between a Bar Plot representation or a Logo representation of the nucleotides present at each position">
                        <div class="col-4"><label>Show Logo/Bar Plot</label></div>
                        <div class="col-8">
                            <p-selectButton [options]="alignmentTopDisplayOptions"
                                [(ngModel)]="this.widgets['alignView-topDisplay']" (onChange)="onAlignmentTopChange()"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-group row" title="Set the minor interval for the ruler. Set to 0 to remove minor interval.">
                        <div class="col-4"><label>Ruler Minor Interval</label></div>
                        <div class="col-8">
                            <p-dropdown [options]="rulerIntervalOptions" appendTo="body" [(ngModel)]="this.widgets['alignView-rulerMinorInterval']"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row" 
                    title="Select how you want NT to be shown in the viewer. Show: Shows both the color and letter for each nucleotide. Minimum: Shows the color for each nucleotide and the letter for any nucleotides different than the top sequence. Hide: Only shows the color for each nucleotide.">
                        <div class="col-4"><label>Show Nucleotides</label></div>
                        <div class="col-8">
                            <p-selectButton [options]="charSettingOptions"
                                [(ngModel)]="this.widgets['alignView-charSetting']" (onChange)="updateAlignment()"></p-selectButton>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab style="color:#495057" header="Labels and Order">
                <div #labelingControls>
                    <div class="form-group row" title="">
                        <div class="col-4"><label>Labels</label></div>
                        <div class="col-8">
                            <p-dropdown appendTo="body" [options]="labelFieldList" [(ngModel)]="this.widgets['alignView-labelField']" (onChange)="onLabelFieldChange()"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row" title="">
                        <div class="col-4"><label>Sort By</label></div>
                        <div class="col-8">
                            <p-dropdown appendTo="body" [options]="labelFieldList" [(ngModel)]="this.widgets['alignView-sortField']" (onChange)="onSortFieldChange()"></p-dropdown>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab  style="color:#495057" header="Sizing">
                <div #sizingControls>
                    <div class="form-group row" title="Set a predefined size">
                        <div class="col-2"><label>Size</label></div>
                        <div class="col-10">
                            <p-selectButton [options]="sizes" [(ngModel)]="this.widgets['alignView-selectedSize']" (onChange)="onSelectedSizeChanged()"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-group row node-label-row" title="Set a custom height. Updating sets size to custom">
                        <div class="col-3"><label>Height</label></div>
                        <div class="col-8">
                            <input type="number" class="form-control form-control-sm" min="10" step="1" max="20" [(ngModel)]="spanHeight" (ngModelChange)="onSpanHeightChange($event)">
                        </div>
                    </div>
                    <div class="form-group row node-label-row" title="Set a custom width. Updating sets size to custom">
                        <div class="col-3"><label>Width</label></div>
                        <div class="col-8">
                            <input type="number" class="form-control form-control-sm" min="1" step="1" max="15" [(ngModel)]="spanWidth" (ngModelChange)="onSpanWidthChange($event)">
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab style="color:#495057" header="Colors">
                <div #colorControls>
                    <div class="form-group row" title="Select a color scheme">
                        <div class="col-3"><label>Color Scheme</label></div>
                        <div class="col-9">
                            <p-selectButton [options]="colorSchemeOptions" [(ngModel)]="this.widgets['alignView-colorSchemeName']"
                                (onChange)="onSelectedColorChanged()"></p-selectButton>
                        </div>
                    </div>
                    <div *ngIf="useCustomColorScheme" class="customColorSchemeSelection">
                        <div class="form-group row node-label-row" title="Select a custom color for each NT">
                            <label>A:
                                <input type="color" class="form-control form-control-sm" [ngModel]="this.widgets['alignView-customColorScheme']['A']" (change)="updateColorScheme('A', $event)">
                            </label>
                            <label>C: 
                                <input type="color" class="form-control form-control-sm" [ngModel]="this.widgets['alignView-customColorScheme']['C']" (change)="updateColorScheme('C', $event)">
                            </label>
                            <label>G: 
                                <input type="color" class="form-control form-control-sm" [ngModel]="this.widgets['alignView-customColorScheme']['G']" (change)="updateColorScheme('G', $event)">
                            </label>
                            <label>T: 
                                <input type="color" class="form-control form-control-sm" [ngModel]="this.widgets['alignView-customColorScheme']['T']" (change)="updateColorScheme('T', $event)">
                            </label>
                        </div>
                        <div class="form-group row node-label-row" title="Select a custom color for each NT"> 
                            <label style="display: flex; align-items: center; gap:10px;">Ambiguities/Other: 
                                <input type="color" [ngModel]="this.widgets['alignView-customColorScheme']['ambig']" (change)="updateColorScheme('ambig', $event)">
                            </label>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </p-dialog>
</div>

<p-dialog *ngIf="viewActive" id="alignment-export-modal" [(visible)]="ShowAlignExportPane" appendTo="body" header="Export Alignment View">
    <tabset class="tab-container tabbable-line">
        <tab heading="{{'Images' | localize}}" [active]="true" customClass="m-tabs__item">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" style='min-width: 400px; height: 100%;'>
                        <div class="form-group row">
                            <div class="col-9">
                                <input type="text" class="form-control form-control-sm"
                                    placeholder="Filename" [(ngModel)]="AlignmentExportFileName">
                            </div>
                            <div class="col-3">
                                <select [(ngModel)]="AlignmentExportFileTypeVis" class="form-control form-control-sm">
                                    <option>svg</option>
                                    <option>png</option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="AlignmentExportFileTypeVis=='png'" class="form-group row">
                            <div class="col-4" style="text-align: center;">Resolution</div>
                            <div class="col-8" style="text-align: center;">
                                {{ spanWidth * longestSeqLength }} x {{ spanHeight * nodesWithSeq.length +140 }} px
                            </div>
                                <div style="width: 100%; text-align: center; margin-top: 5px;"> Adjust Height and Width in settings to change export dimensions </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-error"
                            (click)="ShowAlignExportPane = false">Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="exportVisualization()">Export</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </tab>
        <tab heading="{{'Data' | localize}}" customClass="m-tabs__item">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" style='min-width: 400px; height: 100%;'>
                        <div class="form-group row">
                            <div class="col-9">
                                <input type="text" class="form-control form-control-sm"
                                    placeholder="Filename" [(ngModel)]="AlignmentExportFileName">
                            </div>
                            <div class="col-3">
                                <select [(ngModel)]="AlignmentExportFileTypeData" class="form-control form-control-sm">
                                    <option>fasta</option>
                                    <option>mega</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <div class="form-check form-check-inline" title="Include consensus sequence based on most common NT at each position including gaps. Excludes ambiguous NTs">
                                    <input class="form-check-input" type="checkbox" id="include-consensus" #includeConsensus>
                                    <label class="form-check-label" for="include-consensus">Include Consensus?</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-error"
                            (click)="ShowAlignExportPane = false">Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="exportData(includeConsensus.checked)">Export</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </tab>
        <tab heading="{{'DataTable' | localize}}" customClass="m-tabs__item">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" style='min-width: 400px; height: 100%;'>
                        <div class="form-group row">
                            <div class="col-9">
                                <input type="text" class="form-control form-control-sm"
                                    placeholder="Filename" [(ngModel)]="AlignmentExportFileName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="include-consensus" #includeConsensus2 title="Include consensus sequence based on most common NT at each position including gaps. Excludes ambiguous NTs">
                                    <label class="form-check-label" for="include-consensus">Include Consensus?</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-error"
                            (click)="ShowAlignExportPane = false">Cancel</button>
                        <button type="button" class="btn btn-primary" (click)="exportDataTable('advanced', includeConsensus2.checked)">Export</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </tab>
    </tabset>
</p-dialog><!-- /.modal -->
