<div class="msa-viewer-container">
    <div id="msa-viewer" [style.height.px]="alignmentViewHeight">
        <div class="left">  
            <div style="text-align: center;" [style.width.px]="leftWidth">
                <div id='miniMapTitle' class="title" [style.height.px]="43+16"><!--fix this height XXXX -->Mini Map</div>
                <div class="title" style="height: 100px; padding-top: 22px;">Bar Plot</div>
                <div class="title" style="height: 43px;">Ruler</div>
                <div style="height: 17px;"></div>
            </div>
            <div class="canvasLabels" [style.height.px]="canvasViewHeight-20" [style.width.px]="leftWidth" #canvasLabels (scroll)="canvasHolder.scrollTop=canvasLabels.scrollTop">
                <div *ngFor="let seq of nodesWithSeq" [ngStyle]="{'font-size.px': fontSize, 'height.px': spanHeight}">{{ seq.name }}</div>
                <!--div id="searchHighlight" [style.height.px]="spanHeight+4"></div-->
            </div>
        </div>
        <div class="right" [style.height.px]="rightViewHeight">
            <div id="miniMapHolder">
                <div id="miniMap" (mouseenter)="showMiniMapHighlight($event, miniMap)" (mousemove)="updateMiniMapHighlight($event, miniMap)" (mouseleave)="hideMiniMapHighlight()" (click)="miniMapClick($event, miniMap, canvasHolder, canvasLabels, alignmentTop)" #miniMap>
                    <div id="miniMapHighlight"></div>
                    <!--<canvas> for miniMap here-->
                </div>
            </div>
            <div id="alignmentTop" (scroll)="canvasHolder.scrollLeft=alignmentTop.scrollLeft" [style.width.px]="rightWidth" #alignmentTop>
                <svg  [attr.width]="spanWidth*proportionMatrix.length+17" height="140">
                    <g *ngFor="let nt of proportionMatrix; index as i">
                        <g *ngFor="let prop of nt; index as j" (mouseenter)="showTooltip($event, i)" (mouseleave)="hideTooltip()">
                            <rect [attr.y]="calculateY(i,j)" [attr.x]="spanWidth*i" [attr.height]="100*prop" [attr.width]="spanWidth" [attr.fill]="fillColor(j)"/>
                        </g>
                        <g *ngIf="i %100 == 0">
                            <text y="120" [attr.x]="i >= 100 ? spanWidth*i-10 : spanWidth*i">{{ i }}</text>
                            <text y="140" [attr.x]="spanWidth*i">|</text>
                        </g>
                        <g *ngIf="i % rulerMinorInterval == 0 && i%100 != 0">
                            <text y="120" [attr.x]="i >= 100 ? spanWidth*i-10 : spanWidth*i-5">{{ i }}</text>
                            <text y="140" [attr.x]="spanWidth*i">:</text>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="canvasHolder" [style.height.px]="canvasViewHeight" [style.width.px]="rightWidth" (scroll)="canvasScroll(canvasHolder, canvasLabels, alignmentTop)" #canvasHolder></div>
        </div>
    </div>
</div>

<div id="tooltipHolder">
    <div class="triangle"></div>
    <span id="tooltip"></span>
</div>

<div id="tool-btn-container" class="m-portlet">
    <span style="overflow: visible; position: relative; width: 110px;">
        <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
    </span>
    <span style="overflow: visible; position: relative; width: 110px;">
        <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openExport()"><i class="flaticon-download primary"></i></a>
    </span>
</div>

<div class="view-controls">
    <p-dialog [(visible)]="displaySettings" header="Alignment View Settings" >
        <p-accordion [multiple]="false">
            <p-accordionTab style="color:#495057" header="Layout">
                <div>
                    <div class="form-group row" title="">
                        <div class="col-4"><label for="node-label-variable">Show MiniMap</label></div>
                        <div class="col-8">
                            <p-selectButton [options]="showHideOptions" [(ngModel)]="showMiniMap" (onChange)="updateMiniMapVisibility()"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-group row" title="">
                        <div class="col-4"><label for="">Ruler Minor Interval</label></div>
                        <div class="col-8">
                            <p-dropdown id="" [options]="rulerIntervalOptions" [(ngModel)]="rulerMinorInterval"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group row" title="">
                        <div class="col-4"><label for="">Show Nucleotides</label></div>
                        <div class="col-8">
                            <p-selectButton [options]="charSettingOptions"
                                [(ngModel)]="charSetting" (onChange)="updateAlignment()"></p-selectButton>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab  style="color:#495057" header="Sizing">
                <div>
                    <div class="form-group row" title="">
                        <div class="col-2"><label for="node-label-variable">Size</label></div>
                        <div class="col-10">
                            <p-selectButton [options]="sizes" [(ngModel)]="selectedSize" (onChange)="onSelectedSizeChanged()"></p-selectButton>
                        </div>
                    </div>
                    <div class="form-group row node-label-row" title="">
                        <div class="col-3"><label for="node-label-size">Height</label></div>
                        <div class="col-8">
                            <input type="number" class="form-control form-control-sm" min="10" step="1" max="20" [(ngModel)]="spanHeight" (ngModelChange)="onSpanHeightChange($event)">
                        </div>
                    </div>
                    <div class="form-group row node-label-row" title="">
                        <div class="col-3"><label for="node-label-size">Width</label></div>
                        <div class="col-8">
                            <input type="number" class="form-control form-control-sm" min="1" step="1" max="15" [(ngModel)]="spanWidth" (ngModelChange)="onSpanWidthChange($event)">
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab style="color:#495057" header="Colors">
                <div class="form-group row" title="">
                    <div class="col-3"><label for="node-label-variable">Color Scheme</label></div>
                    <div class="col-9">
                        <p-selectButton [options]="colorSchemeOptions" [(ngModel)]="selectedColorSchemeName"
                            (onChange)="onSelectedColorChanged($event.value)"></p-selectButton>
                    </div>

                </div>
                <div *ngIf="useCustomColorScheme" class="customColorSchemeSelection">
                    <div class="form-group row node-label-row" title="">
                        <label>A:
                            <input type="color" class="form-control form-control-sm" [ngModel]="customColorScheme['A']" (change)="updateColorScheme('A', $event)">
                        </label>
                        <label>C: 
                            <input type="color" class="form-control form-control-sm" [ngModel]="customColorScheme['C']" (change)="updateColorScheme('C', $event)">
                        </label>
                        <label>G: 
                            <input type="color" class="form-control form-control-sm" [ngModel]="customColorScheme['G']" (change)="updateColorScheme('G', $event)">
                        </label>
                        <label>T: 
                            <input type="color" class="form-control form-control-sm" [ngModel]="customColorScheme['T']" (change)="updateColorScheme('T', $event)">
                        </label>
                    </div>
                    <div class="form-group row node-label-row" title=""> 
                        <label style="display: flex; align-items: center; gap:10px;">Ambiguities/Other: 
                            <input type="color" [ngModel]="customColorScheme['ambig']" (change)="updateColorScheme('ambig', $event)">
                        </label>
                    </div>
                    
                
                </div>
            </p-accordionTab>
        </p-accordion>
    </p-dialog>
</div>