<svg id="network"></svg>

<div class="view-controls">
  <button type="button" id="network-settings-toggle" class="btn btn-light btn-sm" data-toggle="button" title="Toggle Network Settings">
    <span class="oi oi-cog"></span>
  </button>
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#network-export-modal" title="Export Network">
    <span class="oi oi-data-transfer-download"></span>
  </button>
  <button id="fitbutton" type="button" class="btn btn-light btn-sm" title="Center and Scale Network">
    <span class="oi oi-target"></span>
  </button>
  <button id="pinbutton" type="button" class="btn btn-light btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off" title="Pin all Nodes">
    <span class="oi oi-pin"></span>
  </button>
</div>

<div id="network-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="nodes-tab" data-toggle="tab" href="#network-node-settings" role="tab" aria-controls="network-node-settings" aria-selected="true">Nodes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="links-tab" data-toggle="tab" href="#network-link-settings" role="tab" aria-controls="network-link-settings" aria-selected="false">Links</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="network-tab" data-toggle="tab" href="#network-settings" role="tab" aria-controls="network-settings" aria-selected="false">Network</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="polygons-tab" data-toggle="tab" href="#network-polygons-settings" role="tab" aria-controls="network-polygons-settings" aria-selected="false">Polygons</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="network-node-settings" role="tabpanel" aria-labelledby="nodes-tab">
      <div class="accordion" id="node-controls-accordion">
        <div class="card" style="overflow:visible">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#node-controls-labels" aria-expanded="true" aria-controls="node-controls-labels" style="color:#495057">Labels and Tooltips</button>
          </div>
          <div id="node-controls-labels" class="collapse show" data-parent="#node-controls-accordion">
            <div class="card-body">
              <div class="form-group row" title="What field should be displayed as a label for the node?">
                <div class="col-4"><label for="node-label-variable">Label</label></div>
                <div class="col-8">
                  <select id="node-label-variable" class="form-control form-control-sm nodeVariables">
                    <option>None</option>
                  </select>
                </div>
              </div>
              <div class="form-group row node-label-row" title="How big should node labels be?">
                <div class="col-4"><label for="node-label-size">Label Size</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="node-label-size" min="6" value="16" max="72"></div>
              </div>
              <div class="form-group row node-label-row" title="How should the labels be oriented relative to their nodes?">
                <div class="col-4"><label for="node-label-orientation">Orientation</label></div>
                <div class="col-8">
                  <select id="node-label-orientation" class="form-control form-control-sm">
                    <option selected>Right</option>
                    <option>Left</option>
                    <option>Top</option>
                    <option>Bottom</option>
                    <option>Middle</option>
                  </select>
                </div>
              </div>
              <div class="form-group row" title="What node data should be displayed as a tooltip for the node?">
                <div class="col-4"><label for="node-tooltip-variable">Tooltip</label></div>
                <div class="col-8">
                  <select id="node-tooltip-variable"  class="form-control form-control-sm chosen-select" multiple title="What node data should be displayed as a tooltip for the node?">
                    <option>None</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100 collapsed" type="button" data-toggle="collapse" data-target="#node-controls-shapes" aria-expanded="false" aria-controls="node-controls-shapes" style="color:#495057">Shapes and Sizes</button>
          </div>
          <div id="node-controls-shapes" class="collapse" data-parent="#node-controls-accordion">
            <div class="card-body">
              <div class="form-group row" title="Which variable should determine the shape of the node?">
                <div class="col-4"><label for="node-symbol-variable">Shape By</label></div>
                <div class="col-8">
                  <select id="node-symbol-variable" class="form-control form-control-sm nodeVariables">
                    <option>None</option>
                  </select>
                </div>
              </div>
              <div id="node-symbol-table-row" class="form-group row" title="What shape should the nodes be?">
                <div class="col-4">Table</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light btn-sm col active" title="Show a table of symbols">
                      <input type="radio" name="network-symbol-table-visibility" id="node-symbol-table-show" autocomplete="off" checked>
                      Show
                    </label>
                    <label class="btn btn-light btn-sm col" title="Do not show a table of symbols">
                      <input type="radio" name="network-symbol-table-visibility" id="node-symbol-table-hide" autocomplete="off"> Hide
                    </label>
                  </div>
                </div>
              </div>
              <div id="node-symbol-row" class="form-group row" title="What shape should the nodes be?">
                <div class="col-4"><label for="node-symbol">Shape</label></div>
                <div class="col-8">
                  <select id="node-symbol" class="form-control form-control-sm">
                    <option value="symbolCircle" selected>&nbsp;&#11044; (Circle)</option>
                    <option value="symbolTriangle">&nbsp;&#9650; (Up Triangle)</option>
                    <option value="symbolTriangleDown">&nbsp;&#9660; (Down Triangle)</option>
                    <option value="symbolTriangleLeft">&nbsp;&#9664; (Left Triangle)</option>
                    <option value="symbolTriangleRight">&nbsp;&#9654; (Right Triangle)</option>
                    <option value="symbolDiamond">&nbsp;&#10731; (Vertical Diamond)</option>
                    <option value="symbolDiamondAlt">&nbsp;&#10731; (Horizontal Diamond)</option>
                    <option value="symbolSquare">&nbsp;&#9632; (Square)</option>
                    <option value="symbolDiamondSquare">&nbsp;&#9670; (Tilted Square)</option>
                    <option value="symbolPentagon">&nbsp;&#11039; (Pentagon)</option>
                    <option value="symbolHexagon">&nbsp;&#11042; (Hexagon)</option>
                    <option value="symbolHexagonAlt">&nbsp;&#11043; (Tilted Hexagon)</option>
                    <option value="symbolOctagon">&nbsp;&#11204; (Octagon)</option>
                    <option value="symbolOctagonAlt">&nbsp;&#11203; (Tilted Octagon)</option>
                    <option value="symbolCross">&nbsp;&#10010; (Addition Sign)</option>
                    <option value="symbolX">&nbsp;&#10006; (Multiplication Sign)</option>
                    <option value="symbolWye">&nbsp;&#120300; (Wye)</option>
                    <option value="symbolStar">&nbsp;&#9733; (Star)</option>
                  </select>
                </div>
              </div>
              <div class="form-group row" title="Which variable should determine the size of the node?">
                <div class="col-4"><label for="node-radius-variable">Size By</label></div>
                <div class="col-8">
                  <select id="node-radius-variable" class="form-control form-control-sm nodeVariables">
                    <option>None</option>
                  </select>
                </div>
              </div>
              <div id="node-max-radius-row" class="form-group row" title="Should node max radius to this variable?">
                <div class="col-4"><label for="node-radius-max">Max Size</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="node-radius-max" min="100" value="4500" step="1" max="5000"></div>
              </div>
              <div id="node-min-radius-row" class="form-group row" title="Should node min radius to this variable?">
                <div class="col-4"><label for="node-radius-min">Min Size</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="node-radius-min" min="100" value="250" step="1" max="5000"></div>
              </div>
              <div id="node-radius-row" class="form-group row" title="How big should the nodes be?">
                <div class="col-4"><label for="node-radius">Size</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="node-radius" min="100" value="250" step="1" max="5000">
                </div>
              </div>
              <div class="form-group row" title="How wide should the node border be?">
                <div class="col-4"><label for="node-border-width">Border Width</label></div>
                <div class="col-8"><input type="number" class="form-control form-control-sm" id="node-border-width" min="0" step="0.1" value="2">
                </div>
              </div>            
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100 launch-color-options collapsed" type="button" data-toggle="collapse" aria-expanded="false" style="color:#495057">Colors</button>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="network-link-settings" role="tabpanel" aria-labelledby="links-tab">
      <div class="accordion" id="link-controls-accordion">
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#link-controls-labels" aria-expanded="true" aria-controls="link-controls-labels" style="color:#495057">Labels and Tooltips</button>
          </div>
          <div id="link-controls-labels" class="collapse show" data-parent="#link-controls-accordion">
            <div class="card-body">
              <div class="form-group row" title="What data should be displayed when you hover over a link?">
                <div class="col-4"><label for="link-tooltip-variable">Tooltip</label></div>
                <div class="col-8">
                  <select id="link-tooltip-variable" class="form-control form-control-sm linkVariables">
                    <option>None</option>
                  </select>
                </div>
              </div>
              <div class="form-group row" title="What data should be displayed when you hover over a link?">
                <div class="col-4"><label for="link-label-variable">Label</label></div>
                <div class="col-8">
                  <select id="link-label-variable" class="form-control form-control-sm linkVariables">
                    <option>None</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#link-controls-shapes" aria-expanded="false" aria-controls="link-controls-shapes" style="color:#495057">Shapes and Sizes</button>
          </div>
          <div id="link-controls-shapes" class="collapse" data-parent="#link-controls-accordion">
            <div class="card-body">
              <div id="link-transparency-row" class="form-group row" title="How transparent should the links be?">
                <div class="col-4"><label for="link-opacity">Transparency</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="link-opacity" min="0" max="1" value="0" step="0.01"></div>
              </div>
              <div class="form-group row" title="Which variable should determine the width of a link?">
                <div class="col-4"><label for="link-width-variable">Width By</label></div>
                <div class="col-8">
                  <select id="link-width-variable" class="form-control form-control-sm linkVariables">
                    <option>None</option>
                  </select>
                </div>
              </div>
              <div id="link-max-width-row" class="form-group row" title="Should link max widths to this variable?">
                <div class="col-4"><label for="link-width-max">Max Width</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="link-width-max" min="0.3" max="30" step=".3" value="27"></div>
              </div>
              <div id="link-min-width-row" class="form-group row" title="Should link min widths to this variable?">
                <div class="col-4"><label for="link-width-min">Min Width</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="link-width-min" min="0.3" max="30" step=".3" value="3"></div>
              </div>
              <div id="link-width-row" class="form-group row" title="How thick should the links be?">
                <div class="col-4"><label for="link-width">Width</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="link-width" min="0.3" max="30" step=".3" value="3"></div>
              </div>
              <div class="form-group row" title="How long should links be?">
                <div class="col-4"><label for="link-length">Length</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="link-length" min="0" max="200" value="50"></div>
              </div>
              <div class="form-group row hideForHIVTrace" title="Shoul arrowheads pointing to the">
                <div class="col-4">Arrows</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light active col">
                      <input type="radio" name="network-directionality" id="link-undirected" autocomplete="off" checked>
                      Hide
                    </label>
                    <label class="btn btn-light col">
                      <input type="radio" name="network-directionality" id="link-directed" autocomplete="off">
                      Show
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100 launch-color-options" type="button" data-toggle="collapse" aria-expanded="false" style="color:#495057">Colors</button>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="network-settings" role="tabpanel" aria-labelledby="network-tab">
      <div class="accordion" id="network-controls-accordion">
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#network-controls-labels" aria-expanded="true" aria-controls="network-controls-labels" style="color:#495057">Display</button>
          </div>
          <div id="network-controls-labels" class="collapse show" data-parent="#network-controls-accordion">
            <div class="card-body">
              <div class="form-group row" title="Should MicrobeTrace Highlight a node's neighbors when you hover on it?">
                <div class="col-4">Neighbors</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light active col" title="Do not highlight anything.
Recommended for performance reasons.">
                      <input type="radio" name="network-highlight" id="dont-highlight-neighbors" autocomplete="off"
                        checked> Normal
                    </label>
                    <label class="btn btn-light col" title="Highlight adjacent links and neighboring nodes when you hover over a node.
Note that this may cause slow performance on larger networks.">
                      <input type="radio" name="network-highlight" id="highlight-neighbors" autocomplete="off">
                      Highlighted
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row" title="Should MicrobeTrace Highlight a node's neighbors when you hover on it?">
                <div class="col-4">Gridlines</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light col" title="Show gridlines under the network.">
                      <input type="radio" name="network-gridlines" id="network-gridlines-show" autocomplete="off">
                      Show
                    </label>
                    <label class="btn btn-light col active" title="Do Not show gridlines under the network.">
                      <input type="radio" name="network-gridlines" id="network-gridlines-hide" autocomplete="off" checked>
                      Hide
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#network-controls-physics" aria-expanded="false" aria-controls="network-controls-physics" style="color:#495057">Physics</button>
          </div>
          <div id="network-controls-physics" class="collapse" data-parent="#network-controls-accordion">
            <div class="card-body">
              <div class="form-group row" title="How strongly are the nodes repulsed by each other?">
                <div class="col-4"><label for="node-charge">Charge</label></div>
                <div class="col-8">
                  <input type="range" class="custom-range" id="node-charge" min="0" max="400" value="200">
                </div>
              </div>
              <div class="form-group row" title="How attractive is the mass of the graph?">
                <div class="col-4"><label for="network-gravity">Gravity</label></div>
                <div class="col-8">
                  <input type="range" class="custom-range" id="network-gravity" min="0.025" max="1" value="0.05" step="0.025">
                </div>
              </div>
              <div class="form-group row" title="How quickly should moving nodes lose their momentum?">
                <div class="col-4"><label for="network-friction">Friction</label></div>
                <div class="col-8">
                  <input type="range" class="custom-range" id="network-friction" min="0" max="1" value="0.4" step="0.025">
                </div>
              </div>
              <div class="form-group row" title="How strong is the link?">
                <div class="col-4"><label for="network-link-strength">Link Strength</label></div>
                <div class="col-8">
                  <input type="range" class="custom-range" id="network-link-strength" min="0" max="1" value="0.125" step="0.025">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="network-polygons-settings" role="tabpanel" aria-labelledby="polygons-tab">
      <div class="accordion" id="polygons-controls-accordion">
        <div class="card" style="overflow:visible">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#polygons-controls" aria-expanded="true" aria-controls="polygons-controls" style="color:#495057">Polygon controls</button>
          </div>
          <div id="polygons-controls" class="collapse show" data-parent="#polygons-controls-accordion">
            <div class="card-body">
              <div class="form-group row" title="Show polygons?">
                <div class="col-4">Polygons</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light col" title="Show convex hull under the network.">
                      <input type="radio" name="polygons" id="polygons-show" autocomplete="off">
                      Show
                    </label>
                    <label class="btn btn-light col active" title="Do Not show convex hull under the network.">
                      <input type="radio" name="polygons" id="polygons-hide" autocomplete="off" checked>
                      Hide
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row polygons-settings-row" title="What Foci should be used when creating convex hulls?">
                <div class="col-4"><label for="polygons-foci">Center</label></div>
                <div class="col-8">
                  <select id="polygons-foci" class="form-control form-control-sm nodeVariables">
                    <option>None</option>
                  </select>
                </div>
              </div>
              <div class="form-group row polygons-settings-row" title="What amount of gather force should be used?">
                <div class="col-4">
                  <label for="polygons-gather-force">Gather</label>
                </div>
                <div class="col-8">
                  <input type="range" class="custom-range" id="polygons-gather-force" min="0" max=".02" value="0" step="0.0001">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="display: none;" class="card polygons-settings-row">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100 collapsed" type="button" data-toggle="collapse" data-target="#polygons-controls-labels" aria-expanded="false" aria-controls="polygons-controls-labels" style="color:#495057">Labels</button>
          </div>
          <div id="polygons-controls-labels" class="collapse" data-parent="#polygons-controls-accordion">
            <div class="card-body">
              <div class="form-group row" title="Show polygons label?">
                <div class="col-4">Label Polygons</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light col" title="Show ploygon label.">
                      <input type="radio" name="polygons" id="polygons-label-show" autocomplete="off">
                      Show
                    </label>
                    <label class="btn btn-light col active" title="Do Not show ploygon label.">
                      <input type="radio" name="polygons" id="polygons-label-hide" autocomplete="off" checked>
                      Hide
                    </label>
                  </div>                  
                </div>
              </div>
              <div style="display: none;" class="form-group row polygons-label-row" title="How big should ploygon labels be?">
                <div class="col-4"><label for="polygons-label-size">Label Size</label></div>
                <div class="col-8"><input type="range" class="custom-range" id="polygons-label-size" min="6" value="16" max="72"></div>
              </div>
              <div style="display: none;" class="form-group row polygons-label-row" title="How should the labels be oriented relative to center of polygon?">
                <div class="col-4"><label for="polygons-label-orientation">Orientation</label></div>
                <div class="col-8">
                  <select id="polygons-label-orientation" class="form-control form-control-sm">
                    <option selected>Middle</option>
					          <option>Right</option>
                    <option>Left</option>
                    <option>Top</option>
                    <option>Bottom</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>      
        <div style="display: none;" class="card polygons-settings-row">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100 collapsed" type="button" data-toggle="collapse" data-target="#polygons-controls-colors" aria-expanded="false" aria-controls="polygons-controls-colors" style="color:#495057">Colors</button>
          </div>
          <div id="polygons-controls-colors" class="collapse" data-parent="#polygons-controls-accordion">
            <div class="card-body">
              <div class="form-group row" title="Show polygons colored?">
                <div class="col-4">Color Polygons</label></div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light col" title="Show convex hull under the network.">
                      <input type="radio" name="polygons" id="polygons-color-show" autocomplete="off">
                      Show
                    </label>
                    <label class="btn btn-light col active" title="Do Not show convex hull under the network.">
                      <input type="radio" name="polygons" id="polygons-color-hide" autocomplete="off" checked>
                      Hide
                    </label>
                  </div>                  
                </div>
              </div>
              <div id="polygon-color-table-row" class="form-group row" title="Should MicrobeTrace display the table of colors?">
                <div class="col-4">Polygon Color Table</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light active col">
                      <input type="radio" name="polygonColorTableShowHide" id="polygon-color-table-show" autocomplete="off" checked>
                      Show
                    </label>
                    <label class="btn btn-light col">
                      <input type="radio" name="polygonColorTableShowHide" id="polygon-color-table-hide" autocomplete="off">
                      Hide
                    </label>
                  </div>
                </div>
              </div>
              <div id="polygon-color-value-row" class="form-group row" title="What color should the polygons be?">
                <div class="col-4"><label for="polygon-color">Polygons</label></div>
                <div class="col-8">
                  <input type="color" id="polygon-color" class="form-control form-control-sm" value="#1f77b4">
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="node-symbol-table-wrapper" class="floater">
  <div id="node-symbol-table-draghandle"><span class="oi oi-move"></span></div>
  <table id="node-symbol-table"></table>
</div>

<div id="node-symbol-table-context" class="dropdown-menu">
  <a href="#" id="node-symbol-table-move" class="dropdown-item">Drag/Arrow Keys</a>
  <a href="#" id="node-symbol-table-context-hide" class="dropdown-item">Hide</a>
  <a href="#" id="node-symbol-table-expand" class="dropdown-item">Expand</a>
  <a href="#" id="node-symbol-table-counts" class="dropdown-item">Toggle Counts</a>
  <a href="#" id="node-symbol-table-frequencies" class="dropdown-item">Toggle Frequencies</a>
</div>

<div id="polygon-color-table-wrapper" class="floater">
  <div id="polygon-color-table-draghandle"><span class="oi oi-move"></span></div>
  <table id="polygon-color-table"></table>
</div>

<div id="polygon-color-table-context" class="dropdown-menu">
  <a href="#" id="polygon-color-table-drag" class="dropdown-item">Drag/Arrow Keys</a>
  <a href="#" id="polygon-color-table-context-hide" class="dropdown-item">Hide</a>
  <a href="#" id="polygon-color-table-expand" class="dropdown-item">Expand</a>
  <a href="#" id="polygon-color-table-counts" class="dropdown-item">Toggle Counts</a>
  <a href="#" id="polygon-color-table-frequencies" class="dropdown-item">Toggle Frequencies</a>
</div>

<div id="context-menu" class="dropdown-menu">
  <a href="#" id="pinNode" class="dropdown-item">Pin Node</a>
  <a href="#" id="copyID" class="dropdown-item">Copy ID</a>
  <a href="#" id="copySeq" class="dropdown-item">Copy Sequence</a>
  <a href="#" id="viewAttributes" class="dropdown-item">View Attributes</a>
</div>

<div id="network-attribute-modal" class="modal fade selectable" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Node Attributes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow: auto">
        <table class="table table-striped">
          <tbody></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal" title="">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="network-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Network Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-9">
            <input type="text" id="network-export-filename" class="form-control form-control-sm" placeholder="Filename">
          </div>
          <div class="col-3">
            <select id="network-export-filetype" class="form-control form-control-sm">
              <option selected>png</option>
              <option>jpeg</option>
              <option>webp</option>
              <option>svg</option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-0">
          <div class="col-3 offset-9">
            <button id="network-export-advanced-button" class="btn btn-primary btn-sm w-100" type="button" data-toggle="collapse" data-target="#network-export-advanced" aria-expanded="false" aria-controls="network-export-advanced">Advanced</button>
          </div>
        </div>
        <div class="collapse" id="network-export-advanced" style="margin-top: 10px;">
          <div class="card card-body">
            <div class="form-group row">
              <div class="col-3">
                <label for="network-export-scale">Scale</label>
              </div>
              <div class="col-9">
                <input type="number" id="network-export-scale" class="form-control form-control-sm" min="0" step="0.1" value="1">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">Resolution</div>
              <div id="network-export-dimensions" class="col-9 text-right"></div>
            </div>
            <div class="row">
              <div class="col-3">
                <label for="network-export-quality">Quality</label>
              </div>
              <div class="col-9">
                <input type="range" class="custom-range" id="network-export-quality" min="0" max="1.0" value="0.92" step="0.01">
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-3">
            <label for="network-export-opacity">Watermark Opacity</label>
          </div>
          <div class="col-9">
            <input type="range" id="network-export-opacity" min="0.0" max="1.0" value="0.4" step="0.01"></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
        <button type="button" id="network-export" class="btn btn-primary" data-dismiss="modal">Export</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="../js/2d_network.js"></script>
<link rel="stylesheet" type="text/css" href="../css/2d_network.css">
