<div id="file-panel" class="container-fluid">
  <div id="file-table" class="container">
    <p id="warning-prompt" class="text-muted"> If you're having a problem with MicrobeTrace, please 
      <a target="_blank" href="https://github.com/CDCgov/MicrobeTrace/wiki/Troubleshooting---Caching" style="font-weight: bold;text-decoration:underline">troubleshoot caching</a>. 
    </p>
    <p id="file-prompt" class="text-muted">Drag-and-Drop Files here, or click "Add File(s)" to load data.</p>
  </div>
</div>

<div id="file-footer">
  <div class="container" style="padding: 15px">
    <div class="row">
      <div class="col">
        <input type="file" id="data-files" class="d-none" multiple="true">
        <label for="data-files" class="btn btn-primary btn-nr floater mb-0">Add File(s)</label>
        <button type="button" id="sequenceControlsButton" class="btn btn-default btn-nr floater" data-toggle="modal" data-target="#sequence-controls-modal">Sequence Controls</button>
      </div>
      <div class="col text-right">
        <button id="launch" class="btn btn-success" title="Please select a Network CSV or FASTA File" disabled>Launch</button>
      </div>
    </div>
  </div>
</div>

<div class="view-controls">
  <button type="button" id="file-settings-toggle" class="btn btn-light btn-sm" data-toggle="button" title="Toggle File Settings">
    <span class="oi oi-cog"></span>
  </button>
</div>

<div id="file-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="files-tab" data-toggle="tab" href="#file-settings" role="tab" aria-controls="file-settings" aria-selected="true">Files</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="experimental-tab" data-toggle="tab" href="#experimental-settings" role="tab" aria-controls="experimental-settings" aria-selected="false">Experimental</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="file-settings" class="tab-pane fade active show" role="tabpanel">
      <div class="form-group row">
        <div class="col-5">
          <label for="default-distance-metric" class="mr-2" title="Which Genetic Distance Metric should Microbe use to first construct the network?">
            Distance Metric
          </label>
        </div>
        <div class="col-7">
          <select id="default-distance-metric" class="form-control form-control-sm mr-5">
            <option value="tn93" selected>TN93</option>
            <option value="snps">SNPs</option>
          </select>
        </div>
      </div>
      <div id="ambiguities-row" class="form-group row">
        <div class="col-5">
          <label for="ambiguity-resolution-strategy" class="mr-2" title="What Strategy should MicrobeTrace use to handle ambiguities?">
            Ambiguities
          </label>
        </div>
        <div class="col-7">
          <select id="ambiguity-resolution-strategy" class="form-control form-control-sm mr-5">
            <option value="AVERAGE">Average</option>
            <option value="RESOLVE">Resolve</option>
            <option value="SKIP">Skip</option>
            <option value="GAPMM">GapMM</option>
            <option value="HIVTRACE-G">HIV-TRACE -g</option>
          </select>
        </div>
      </div>
      <div id="ambiguity-threshold-row" class="form-group row">
        <div class="col-5">
          <label for="ambiguity-threshold" class="mr-2" title="What's the maximum genetic distance you wish to consider linked? Please note that this can be changed later.">
            Ambiguity Threshold
          </label>
        </div>
        <div class="col-7">
          <input type="number" id="ambiguity-threshold" class="form-control form-control-sm" min="0" value="0.015" step="0.001">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-5">
          <label for="default-distance-threshold" class="mr-2" title="What's the maximum genetic distance you wish to consider linked? Please note that this can be changed later.">
            Link Threshold
          </label>
        </div>
        <div class="col-7">
          <input type="number" id="default-distance-threshold" class="form-control form-control-sm" min="0" value="0.015" step="0.001">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-5">
          <label for="default-view">View to Launch</label>
        </div>
        <div class="col-7">
          <select id="default-view" class="form-control form-control-sm" title="Which view should MicrobeTrace render first, once it has successfully processed the data?">
            <option value="2d_network" selected>2D Network</option>
            <option value="pixi">Pixi</option>
            <option value="3d_network">3D Network</option>
            <option value="bubbles">Bubbles</option>
            <option value="table">Table</option>
          </select>
        </div>
      </div>
    </div>
    <div id="experimental-settings" class="tab-pane fade" role="tabpanel">
      <div class="form-group row">
        <div class="col-12">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <p>The following settings are experimental! Use at your own risk!</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group row" title="Would you like to generate a network based on random data?">
        <div class="col-4">Generate</div>
        <div class="col">
          <input id="generate-number" type="number" class="form-control form-control-sm" min="1" max="2000" step="1" value="100">
        </div>
        <div class="col">
          <button id="generate-sequences" class="btn btn-light btn-sm col">Sequences</button>
        </div>
      </div>
      <div class="form-group row" title="Would you like to attempt to infer the direction of your links?">
        <div class="col-4">Directionality</div>
        <div class="col-8">
          <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
            <label class="btn btn-light active col" title="Do Not infer transmission directionality.">
              <input type="radio" name="infer-directionality" id="infer-directionality-false" autocomplete="off" checked> Off
            </label>
            <label class="btn btn-light col" title="Attempt to infer transmission directionality?">
              <input type="radio" name="infer-directionality" id="infer-directionality" autocomplete="off"> Inferred
            </label>
          </div>
        </div>
      </div>
      <!-- <div class="form-group row" title="Would you like to attempt to triangulate missing values in your distance matrices?">
        <div class="col-4">Triangulation</div>
        <div class="col-8">
          <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
            <label class="btn btn-light col active" title="Do Not Triangulate missing cells in Distance Matrices.">
              <input type="radio" name="triangulate" id="triangulate-false" autocomplete="off" checked> Off
            </label>
            <label class="btn btn-light col" title="Attempt to Triangulate missing cells in Distance Matrices.">
              <input type="radio" name="triangulate" id="triangulate" autocomplete="off"> On
            </label>
          </div>
        </div>
      </div> -->
      <div class="form-group row"
        title="Should MicrobeTrace automatically stash your session so if your computer crashes you can recover your session?
Please note that this causes MicrobeTrace to store data on your computer's hard drive, which may have implications for PII.">
        <div class="col-4">Autostashing</div>
        <div class="col-8">
          <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
            <label class="btn btn-light active col" title="Do Not Automatically Stash Sessions">
              <input type="radio" name="stash-auto" id="stash-auto-no" autocomplete="off" checked> Off
            </label>
            <label class="btn btn-light col" title="Automatically Stash Sessions">
              <input type="radio" name="stash-auto" id="stash-auto-yes" autocomplete="off"> On
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sequence-controls-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="#sequence-controls-title" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="sequence-controls-title" class="modal-title">Sequence Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="sequence-controls-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="sequence-alignment-tab" data-toggle="tab" href="#sequence-alignment" role="tab" aria-controls="sequence-alignment" aria-selected="true">Alignment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="sequence-auditor-tab" data-toggle="tab" href="#sequence-auditor" role="tab" aria-controls="sequence-auditor" aria-selected="false">Audit</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="sequence-alignment" role="tabpanel" aria-labelledby="sequence-alignment-tab">
            <div class="form-group row">
              <div class="col-12">
                <div class="alert alert-warning alert-dismissible" role="alert">
                  <p>
                    MicrobeTrace is not intended to be an alignment program (although it can be used in that way).
                    For best results, please align your sequences using
                    <a href="https://en.wikipedia.org/wiki/List_of_sequence_alignment_software" target="_blank" rel="noreferrer noopener">an external tool</a>
                    before loading them into MicrobeTrace.
                    <a href="https://github.com/CDCgov/MicrobeTrace/wiki/Alignment" class="ifOnline" target="_blank" rel="noreferrer noopener">Click here for additional information.</a>
                  </p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-2" title="Should MicrobeTrace align your sequences?">Align</div>
              <div class="col-10">
                <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                  <label class="btn btn-light active col" title="Do Not Align Sequences">
                    <input type="radio" name="shouldAlign" id="align-none" data-aligner="none" autocomplete="off" checked>
                    None
                  </label>
                  <label class="btn btn-light col" title="Align Sequences using Smith-Waterman aligner">
                    <input type="radio" name="shouldAlign" id="align-sw" data-aligner="sw" autocomplete="off">
                    Smith-Waterman
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row alignConfigRow">
              <div class="col-2" title="What should MicrobeTrace use as a reference to align your sequences?">Reference Source</div>
              <div class="col-10">
                <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                  <label class="btn btn-light active col" title="Load Reference from FASTA">
                    <input type="radio" name="reference-source" id="reference-source-file" autocomplete="off" checked>
                    Load From FASTA
                  </label>
                  <label class="btn btn-light col" title="Use First Sequence as Reference">
                    <input type="radio" name="reference-source" id="reference-source-first" autocomplete="off">
                    First Sequence
                  </label>
                  <label class="btn btn-light col" title="Generate a Consensus Sequence to use as a Reference">
                    <input type="radio" name="reference-source" id="reference-source-consensus" autocomplete="off">
                    Consensus
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row" id="reference-file-row">
              <div class="col-2" title="Against what sequence should MicrobeTrace align your sequences?">Reference</div>
              <div class="col-5">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="refSeqFileLoad">
                  <label class="custom-file-label" for="refSeqFileLoad" style="overflow:hidden">HXB2</label>
                </div>
              </div>
              <div class="col-5">
                <select id="refSeqID" class="form-control"></select>
              </div>
            </div>
            <div class="row alignConfigRow">
              <div class="form-group col offset-2" title="How much should MicrobeTrace reward matching bases?">
                <label for="alignerMatch">Match Reward</label>
                <input type="number" id="alignerMatch" class="form-control" value="1" min="0">
              </div>
              <div class="form-group col" title="How much should MicrobeTrace penalize non-matching bases?">
                <label for="alignerMismatch">Mismatch Cost</label>
                <input type="number" id="alignerMismatch" class="form-control" value="1" min="0">
              </div>
            </div>
            <div class="row alignConfigRow">
              <div class="form-group col offset-2" title="How much should MicrobeTrace Penalize opening a gap?">
                <label for="alignerGapO">Gap Opening Cost</label>
                <input type="number" id="alignerGapO" class="form-control" value="5" min="0">
              </div>
              <div class="form-group col" title="How much should MicrobeTrace Penalize extending a gap?">
                <label for="alignerGapE">Gap Extension Cost</label>
                <input type="number" id="alignerGapE" class="form-control" value="2" min="0">
              </div>
            </div>
            <div class="row alignPreviewRow">
              <div class="w-100 text-center" id="alignment-preview"></div>
            </div>
          </div>
          <div class="tab-pane fade" id="sequence-auditor" role="tabpanel" aria-labelledby="sequence-auditor-tab">
            <div class="row mb-3">
              <div class="form-check col" title="Checks to see if a Sequence is empty.">
                <input class="form-check-input" type="checkbox" id="audit-empty" checked>
                <label class="form-check-label" for="audit-empty">
                  Empty
                </label>
              </div>
              <div class="form-check col" title="Checks to see if a Sequence is all gaps.">
                <input class="form-check-input" type="checkbox" id="audit-gaps" checked>
                <label class="form-check-label" for="audit-gaps">
                  Gaps
                </label>
              </div>
              <div class="form-check col" title="Check to see if sequence contains any characters that are RNA instead of DNA.">
                <input class="form-check-input" type="checkbox" id="audit-RNA" checked>
                <label class="form-check-label" for="audit-RNA">
                  RNA
                </label>
              </div>
              <div class="form-check col" title="Check to see if Sequence contains any characters that represent Amino Acids.">
                <input class="form-check-input" type="checkbox" id="audit-amino-acids" checked>
                <label class="form-check-label" for="audit-amino-acids">
                  Amino Acids
                </label>
              </div>
              <div class="form-check col" title="Check to see if Sequence contains any characters describing an alignment.">
                <input class="form-check-input" type="checkbox" id="audit-CIGAR" checked>
                <label class="form-check-label" for="audit-CIGAR">
                  CIGAR
                </label>
              </div>
              <div class="form-check col" title="Check to see if Sequence contains any characters that are illegal in any genomic or proteomic alphabet.">
                <input class="form-check-input" type="checkbox" id="audit-malformed" checked>
                <label class="form-check-label" for="audit-malformed">
                  Malformed
                </label>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary btn-sm w-100" id="audit-launcher">Run</button>
              </div>
            </div>
            <div class="row" id="audited-sequences"></div>
            <div class="row flex-row-reverse" style="padding-right: 21px">
              <button class="btn btn-danger btn-sm" id="audit-toggle-all">Toggle All</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer clearfix">
        <button type="submit" class="btn btn-success pull-right" data-dismiss="modal"
          title="Confirm Load Settings are All Properly Set">Confirm</button>
      </div>
    </div>
  </div>
</div>
<script src="../js/files.js"></script>
<link rel="stylesheet" type="text/css" href="../css/files.css">