<div id="tree"></div>

<div class="view-controls">
  <button id="toggle-tree-settings" type="button" data-toggle="button" class="btn btn-light btn-sm" title="Toggle Tree Settings">
    <span class="oi oi-cog"></span>
  </button>
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#tree-export-modal" title="Export Tree">
    <span class="oi oi-data-transfer-download"></span>
  </button>
  <button id="tree-fitbutton" type="button" class="btn btn-light btn-sm" title="Center and Scale Phylogenetic Tree">
    <span class="oi oi-target"></span>
  </button>
</div>

<div id="tree-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a href="#tree-configurations" id="tree-tab" class="nav-link active" aria-controls="tree" role="tab" data-toggle="tab">Tree</a>
    </li>
    <li class="nav-item">
      <a href="#tree-branch-configurations" id="tree-branch-tab" class="nav-link" aria-controls="tree" role="tab" data-toggle="tab">Branches</a>
    </li>
    <li class="nav-item">
      <a href="#tree-leaf-configurations" id="tree-leaf-tab" class="nav-link" aria-controls="tree" role="tab" data-toggle="tab">Leaves</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="tree-configurations" role="tabpanel" aria-labelledby="tree-tab">
      <div class="accordion" id="tree-layout-controls-accordion">
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#tree-layout-controls-labels" aria-expanded="true" aria-controls="tree-layout-controls-labels" style="color:#495057">
              Layout
            </button>
          </div>
          <div id="tree-layout-controls-labels" class="collapse show" data-parent="#tree-layout-controls-accordion">
            <div class="card-body">
              <div class="form-group row" title="What kind of layout would you like to use for this tree?">
                <div class="col-3">
                  <label for="tree-type">Type</label>
                </div>
                <div class="col-9">
                  <select id="tree-type" class="form-control form-control-sm">
                    <option value="tree">Tree</option>
                    <option value="weighted" selected="selected">Weighted Dendrogram</option>
                    <option value="dendrogram">Unweighted Dendrogram</option>
                  </select>
                </div>
              </div>
              <div class="form-group row" title="What kind of layout would you like to use for this tree?">
                <div class="col-3">Layout</div>
                <div class="col-9">
                  <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                    <label class="btn btn-light btn-sm active col">
                      <input type="radio" name="tree-layout" id="tree-layout-vertical" autocomplete="off" checked="checked">
                      Vertical
                    </label>
                    <label class="btn btn-light btn-sm col">
                      <input type="radio" name="tree-layout" id="tree-layout-horizontal" autocomplete="off">
                      Horizontal
                    </label>
                    <label class="btn btn-light btn-sm col">
                      <input type="radio" name="tree-layout" id="tree-layout-circular" autocomplete="off">
                      Circular
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row" title="Would you like to vertically stretch (or squish) the Tree?">
                <div class="col-3">
                  <label for="tree-vertical-stretch">Vertical Stretch</label>
                </div>
                <div class="col-9">
                  <input id="tree-vertical-stretch" type="range" class="custom-range" min="0.1" max="10" value="1" step="0.1">
                </div>
              </div>
              <div class="form-group row" title="Would you like to horizontally stretch (or squish) the Tree?">
                <div class="col-3">
                  <label for="tree-horizontal-stretch">Horizontal Stretch</label>
                </div>
                <div class="col-9">
                  <input id="tree-horizontal-stretch" type="range" class="custom-range" min="0.1" max="10" value="1" step="0.1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100 collapsed" type="button" data-toggle="collapse" data-target="#tree-actions-controls-labels" aria-expanded="false" aria-controls="tree-actions-controls-labels" style="color:#495057">
              Actions
            </button>
          </div>
          <div id="tree-actions-controls-labels" class="collapse" data-parent="#tree-layout-controls-accordion">
            <div class="card-body">
              <div class="form-group row">
                <div class="col-6">
                  <button type="button" class="btn btn-light w-100" id="tree-simplify" title="Collapse branches with single descendants into a longer, continuous branch.">Simplify</button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-light w-100" id="tree-consolidate" title="Collapse branches with zero distance into combined branches.">Consolidate</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100 collapsed" type="button" data-toggle="collapse" data-target="#tree-meta-controls-labels" aria-expanded="false" aria-controls="tree-meta-controls-labels" style="color:#495057">
              Meta
            </button>
          </div>
          <div id="tree-meta-controls-labels" class="collapse" data-parent="#tree-layout-controls-accordion">
            <div class="card-body">
              <div class="form-group row hideForCircular" title="Would you like to see a ruler indicating patristic distances next to your tree?">
                <div class="col-3">Ruler</div>
                <div class="col-9">
                  <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                    <label class="btn btn-light btn-sm col active">
                      <input type="radio" name="tree-ruler" id="tree-ruler-show" autocomplete="off" checked="checked">
                      Show
                    </label>
                    <label class="btn btn-light btn-sm col">
                      <input type="radio" name="tree-ruler" id="tree-ruler-hide" autocomplete="off">
                      Hide
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row" title="Would you like to see animations as your tree updates?">
                <div class="col-3">Animate</div>
                <div class="col-9">
                  <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                    <label class="btn btn-light btn-sm col active">
                      <input type="radio" name="tree-animation" id="tree-animation-on" autocomplete="off" checked="checked">
                      Yes
                    </label>
                    <label class="btn btn-light btn-sm col">
                      <input type="radio" name="tree-animation" id="tree-animation-off" autocomplete="off">
                      No
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tree-branch-configurations" role="tabpanel" aria-labelledby="tree-branch-tab">
      <div class="form-group row" title="What would you like the branches to be shaped like?">
        <div class="col-3">Type</div>
        <div class="col-9">
          <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <label class="btn btn-light btn-sm col active">
              <input type="radio" name="tree-mode" id="tree-mode-square" autocomplete="off" checked="checked">
              Square
            </label>
            <label class="btn btn-light btn-sm col">
              <input type="radio" name="tree-mode" id="tree-mode-smooth" autocomplete="off">
              Smooth
            </label>
            <label class="btn btn-light btn-sm col">
              <input type="radio" name="tree-mode" id="tree-mode-straight" autocomplete="off">
              Straight
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row" title="Would you like to render nodes at the tree's branchpoints?">
        <div class="col-3">Nodes</div>
        <div class="col-9">
          <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <label class="btn btn-light btn-sm col">
              <input type="radio" name="tree-branch-nodes" id="tree-branch-nodes-show" autocomplete="off">
              Show
            </label>
            <label class="btn btn-light btn-sm col active">
              <input type="radio" name="tree-branch-nodes" id="tree-branch-nodes-hide" autocomplete="off" checked="checked">
              Hide
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row" title="Would you like to see branch distances written on the Branches?">
        <div class="col-3">Length Labels</div>
        <div class="col-9">
          <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <label class="btn btn-light btn-sm col">
              <input type="radio" name="tree-branch-distances" id="tree-branch-distances-show" autocomplete="off">
              Show
            </label>
            <label class="btn btn-light btn-sm col active">
              <input type="radio" name="tree-branch-distances" id="tree-branch-distances-hide" autocomplete="off" checked="checked">
              Hide
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row tree-branch-distance-row" title="Would you like to round distances in the tree to integers?">
        <div class="col-3">Round Labels</div>
        <div class="col-9">
          <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <label class="btn btn-light btn-sm active col">
              <input type="radio" name="tree-round" id="tree-round-false" autocomplete="off" checked="checked">
              Unrounded
            </label>
            <label class="btn btn-light btn-sm col">
              <input type="radio" name="tree-round" id="tree-round-true" autocomplete="off">
              Rounded
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row tree-branch-distance-row" title="How big should the branch distance labels be?">
        <div class="col-3">
          <label for="tree-branch-distance-size">Label Size</label>
        </div>
        <div class="col-9">
          <input id="tree-branch-distance-size" type="range" class="custom-range" min="1" max="32" value="6" step="1">
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tree-leaf-configurations" role="tabpanel" aria-labelledby="tree-leaf-tab">
      <div class="accordion" id="tree-leaf-controls-accordion">
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#tree-leaf-controls-labels" aria-expanded="true" aria-controls="tree-leaf-controls-labels" style="color:#495057">Labels and Tooltips</button>
          </div>
          <div id="tree-leaf-controls-labels" class="collapse show" data-parent="#tree-leaf-controls-accordion">
            <div class="card-body">
              <div class="form-group row tree-leaf-node-row">
                <div class="col-3">
                  <label class="form-switch">Tooltip</label>
                </div>
                <div class="col-9">
                  <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                    <label class="btn btn-light btn-sm col active">
                      <input type="radio" name="tree-tooltips" id="tree-tooltip-show" autocomplete="off" checked="checked">
                      Show
                    </label>
                    <label class="btn btn-light btn-sm col">
                      <input type="radio" name="tree-tooltips" id="tree-tooltip-hide" autocomplete="off">
                      Hide
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3">Labels</div>
                <div class="col-9">
                  <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                    <label class="btn btn-light btn-sm col">
                      <input type="radio" name="tree-leaf-labels" id="tree-leaf-label-show" autocomplete="off">
                      Show
                    </label>
                    <label class="btn btn-light btn-sm col active">
                      <input type="radio" name="tree-leaf-labels" id="tree-leaf-label-hide" autocomplete="off" checked="checked">
                      Hide
                    </label>
                  </div>
                </div>
              </div>
              <div id="tree-leaf-label-size-row" class="form-group row">
                <div class="col-3">
                  <label for="tree-leaf-label-size">Label Size</label>
                </div>
                <div class="col-9">
                  <input id="tree-leaf-label-size" type="range" class="custom-range" min="1" max="32" value="6" step="1">
                </div>
              </div>
              <div class="form-group row" title="What field should be displayed as a label for the node?">
                <div class="col-4"><label for="phylogenetic-node-label-variable">Label</label></div>
                <div class="col-8">
                  <select id="phylogenetic-node-label-variable" class="form-control form-control-sm nodeVariables">
                    <option>None</option>
                  </select>
                </div>
              </div>
              <div class="form-group row" title="What node data should be displayed as a tooltip for the node?">
                <div class="col-4"><label for="phylogenetic-node-tooltip-variable">Tooltip</label></div>
                <div class="col-8">
                  <select id="phylogenetic-node-tooltip-variable" class="form-control form-control-sm nodeVariables">
                    <option>None</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#tree-leaf-controls-geometry" aria-expanded="false" aria-controls="tree-leaf-controls-geometry" style="color:#495057">Shapes and Sizes</button>
          </div>
          <div id="tree-leaf-controls-geometry" class="collapse" data-parent="#tree-leaf-controls-accordion">
            <div class="card-body">
              <div class="form-group row">
                <div class="col-3">Nodes</div>
                <div class="col-9">
                  <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                    <label class="btn btn-light btn-sm col active">
                      <input type="radio" name="tree-leaf-nodes" id="tree-leaf-node-show" autocomplete="off" checked="checked">
                      Show
                    </label>
                    <label class="btn btn-light btn-sm col">
                      <input type="radio" name="tree-leaf-nodes" id="tree-leaf-node-hide" autocomplete="off">
                      Hide
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row tree-leaf-node-row" title="Which variable should determine the size of the node?">
                <div class="col-3"><label for="tree-leaf-node-radius-variable">Size By</label></div>
                <div class="col-9">
                  <select id="tree-leaf-node-radius-variable" class="form-control form-control-sm nodeVariables">
                    <option>None</option>
                  </select>
                </div>
              </div>
              <div class="form-group row tree-leaf-node-row">
                <div class="col-3">
                  <label for="tree-leaf-node-size">Node Size</label>
                </div>
                <div class="col-9">
                  <input id="tree-leaf-node-size" type="range" class="custom-range" min="1" max="32" value="9" step="1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100 launch-color-options collapsed" type="button" data-toggle="collapse" aria-expanded="false" style="color:#495057">Colors</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tree-context-menu" class="dropdown-menu">
  <a href="#" id="tree-rotate" class="dropdown-item">Rotate</a>
  <a href="#" id="tree-flip" class="dropdown-item">Flip</a>
  <a href="#" id="tree-reroot" class="dropdown-item">Set As Root</a>
</div>

<div id="tree-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Phylogenetic Tree</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-9">
            <input type="text" id="tree-export-file-name" class="form-control form-control-sm" placeholder="Filename">
          </div>
          <div class="col-3">
            <select id="tree-export-file-type" class="form-control form-control-sm">
              <option selected="selected">png</option>
              <option>jpeg</option>
              <option>webp</option>
              <option>svg</option>
              <option>nwk</option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-0">
          <div class="col-3 offset-9">
            <button id="tree-export-advanced-button" class="btn btn-primary btn-sm w-100" type="button" data-toggle="collapse" data-target="#tree-export-advanced" aria-expanded="false" aria-controls="tree-export-advanced">Advanced</button>
          </div>
        </div>
        <div class="collapse" id="tree-export-advanced" style="margin-top: 10px;">
          <div class="card card-body">
            <div class="form-group row">
              <div class="col-3">
                <label for="tree-export-scale">Scale</label>
              </div>
              <div class="col-9">
                <input type="number" id="tree-export-scale" class="form-control form-control-sm" min="0" step="0.1" value="1">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">Resolution</div>
              <div id="tree-export-dimensions" class="col-9 text-right"></div>
            </div>
            <div class="row">
              <div class="col-3">
                <label for="tree-export-quality">Quality</label>
              </div>
              <div class="col-9">
                <input type="range" class="custom-range" id="tree-export-quality" min="0" max="1.0" value="0.92" step="0.01">
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-3">
            <label for="tree-export-opacity">Watermark Opacity</label>
          </div>
          <div class="col-9">
            <input type="range" id="tree-export-opacity" min="0.0" max="1.0" value="0.4" step="0.01"></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
        <button type="button" id="tree-export" class="btn btn-primary" data-dismiss="modal">Export</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="../js/phylogenetic_tree.js"></script>
<link rel="stylesheet" type="text/css" href="../css/phylogenetic_tree.css">