<div id="waterfall" class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h4>Clusters <small class="float-right">Nodes</small></h4>
      <div class="list-group" id="waterfall-cluster-list"></div>
    </div>
    <div class="col-4">
      <h4>Nodes <small class="float-right">Degree</small></h4>
      <div class="list-group" id="waterfall-node-list"></div>
    </div>
    <div class="col-5">
      <h4>Links <small class="float-right">Distance</small></h4>
      <div class="list-group" id="waterfall-neighbor-list"></div>
    </div>
  </div>
</div>
<script src="../js/waterfall.js"></script>
<link rel="stylesheet" type="text/css" href="../css/waterfall.css">