.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.welcome-msg {
    margin-top: 325px;
    text-align: center;
}

.files-msg {
    font-size: 20px;;
}

.top {
    font-size: 65px;
}

.bottom {
    font-size: 25px;
    font-weight: 500;
}

.microbe {
    font-weight: 600;
}

.here-link {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.add-data-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.add-btns{
    margin-top: 40px;
}

.recall {
    margin-right: 50px; 
}

.launch-options-container {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 35px;
    width: 100%;
    font-size: 20px;
}

.mt-icon {
    width: 50px;
    height: 50px;
}

.dropdown-symbol {
    font-size: 12px;
}

.threshold-option {
    display: flex;
}

.threshold-input {
    margin-top: -25px;
}

.threshold-input-length {
    max-width: 60px;;
}

.onload-bold {
    font-weight: 800;
}

.option-value {
    cursor: pointer;
}