<div class="wrapper">
    <div class="welcome-msg">
        <div class="top">
            <span class="primary">Welcome to </span>
            <span class="microbe primary">Microbe</span>
            <span class="trace primary">Trace</span>
        </div>
        <div class="bottom primary">The Visualization Multitool for Molecular Epidemiology and Bioinformatics</div>
    </div>
    <div class="add-data-container">
        <div class="files-msg">
            <span class="primary">Click </span>
            <span class="microbe primary">here </span>
            <span class="trace primary">or Drag & Drop files to load data</span>
        </div>
        <div class="add-btns primary">
            <button mat-raised-button color="primary" class="recall">Recall Previous Session</button>
            <button mat-raised-button color="primary">Continue with Sample Dataset</button>
        </div>
    </div>
    <div class="launch-options-container primary">
        <span>Onload Settings</span>
        <span>Distance Metric: </span>
        <span>Ambiguities: </span>
        <span>View to Launch: </span>
        <span>Link Threshold: </span>
    </div>
</div>