<div class="wrapper">
    <div class="welcome-msg">
        <div class="top">
            <span class="primary">Welcome to </span>
            <span class="microbe primary">Microbe</span>
            <span class="primary">Trace</span>
            <span><img class="mt-icon" src="../../../assets/images/MT-Icon.png"></span>
        </div>
        <div class="bottom primary">The Visualization Multitool for Molecular Epidemiology and Bioinformatics</div>
    </div>
    <div class="add-data-container">
        <div class="files-msg">
            <span class="primary">Click </span>
            <a class="here-link primary" (click)="hereClicked()">here</a>
            <span class="primary"> or Drag & Drop files to load data</span>
        </div>
        <div class="add-btns primary">
            <button mat-raised-button color="primary" class="recall" (click)="recallClicked()">Recall Previous Session</button>
            <button mat-raised-button color="primary" (click)="continueClicked()">Continue with Sample Dataset</button>
        </div>
    </div>
    <div class="launch-options-container primary">
        <span class="onload-bold">Onload Settings:</span>
        <span>Distance Metric: <span class="option-value" [matMenuTriggerFor]="metricMenu">{{metric}} <span class="dropdown-symbol">&#9660;</span></span></span>
        <span>Ambiguities: <span class="option-value" [matMenuTriggerFor]="ambiMenu">{{ambiguity}} <span class="dropdown-symbol">&#9660;</span></span></span>
        <span>View to Launch: <span class="option-value" [matMenuTriggerFor]="viewMenu">{{launchView}} <span class="dropdown-symbol">&#9660;</span></span></span>
        <span class="threshold-option">Link Threshold: 
            <form class="threshold-input">
            <mat-form-field class="threshold-input-length">
                <mat-label></mat-label>
              <input matInput [value]="threshold">
            </mat-form-field>
          </form>
        </span>
    </div>
    <mat-menu #metricMenu="matMenu"overlapTrigger="false">
        <button mat-menu-item (click)="updateMetric('TN93')">TN93</button>
        <button mat-menu-item (click)="updateMetric('SNPs')">SNPs</button>
    </mat-menu>
    <mat-menu #ambiMenu="matMenu" overlapTrigger="false">
        <button mat-menu-item (click)="updateAmbiguity('Average')">Average</button>
        <button mat-menu-item (click)="updateAmbiguity('Resolve')">Resolve</button>
        <button mat-menu-item (click)="updateAmbiguity('Skip')">Skip</button>
        <button mat-menu-item (click)="updateAmbiguity('GapMM')">GapMM</button>
        <button mat-menu-item (click)="updateAmbiguity('HIV-Trace -g')">HIV-Trace -g</button>
    </mat-menu>
    <mat-menu #viewMenu="matMenu" overlapTrigger="false">
        <button mat-menu-item (click)="updateLaunchView('2D Network')">2D Network</button>
        <button mat-menu-item (click)="updateLaunchView('3D Network')">3D Network</button>
        <button mat-menu-item (click)="updateLaunchView('Bubbles')">Bubbles</button>
        <button mat-menu-item (click)="updateLaunchView('Table')">Table</button>
        <button mat-menu-item (click)="updateLaunchView('Phylogenetic Tree')">Phylogenetic Tree</button>
    </mat-menu>
</div>