.mapStyle{
    height:100%;
    width:100%;
    /* height:calc(100vh - 350px); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* position: sticky !important; */
}

:host {
  position: absolute;
  overflow: hidden;
  z-index: 1 !important;
}

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
}


#mapTooltip {
    color:#333333;
    background:#f5f5f5;
    border:1px solid #cccccc;
    border-radius:.25rem;
    padding:.25rem;
  }

  .bottom-table{
    font-size: calc((.5vmax));   
}

.OSM-credit {
  position: absolute;
  bottom: 7px;
  left: 50px;
  z-index: 2;
}

.OSM-credit a {
  color: #4e8bb7 !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

 /* Button appearance on hover */
 .btn-icon:hover {
  transform: scale(1.1); /* Slight enlarge on hover */
  background-color: rgba(0, 0, 0, 0.1); /* Subtle background color on hover */
}

.btn-icon {
  margin-right: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background: white;
}

.flaticon-settings:before {
  font-weight: 800 !important;
}


.flaticon-download:before {
  font-weight: 800 !important;
}