<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <mat-toolbar class="nav-bar">
    <div class="navbar-logo">
      <span class="microbe-font">Microbe</span>
      <span class="trace-font">Trace</span>
    </div>
    <div class="menu-items">
      <button class="navbar-item" mat-button [matMenuTriggerFor]="fileMenu">File<span class="dropdown-symbol">&#9660;</span></button>
      <mat-menu #fileMenu="matMenu" overlapTrigger="false">
        <button mat-menu-item>Stash</button>
        <button mat-menu-item>Recall</button>
        <button mat-menu-item>Save</button>
        <button mat-menu-item>Open</button>
        <button mat-menu-item>Add Data</button>
        <button mat-menu-item>New</button>
      </mat-menu>
      <button class="navbar-item" mat-button [matMenuTriggerFor]="windowMenu">Window<span class="dropdown-symbol">&#9660;</span></button>
      <mat-menu #windowMenu="matMenu" overlapTrigger="false">
        <button mat-menu-item>Reload</button>
        <button mat-menu-item>Toggle Fullscreen</button>
      </mat-menu>
      <button class="navbar-item" mat-button [matMenuTriggerFor]="helpMenu">Help<span class="dropdown-symbol">&#9660;</span></button>
      <mat-menu #helpMenu="matMenu" overlapTrigger="false">
        <button mat-menu-item>Help</button>
        <button mat-menu-item>Report Bug</button>
        <button mat-menu-item>About</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>

</div>
