<div #epiCurve id="epiCurve">
  <svg #epiCurveSVG id="epiCurveSVG"></svg>
</div>

<div id="tool-btn-container" class="m-portlet">
    <span style="overflow: visible; position: relative;">
        <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
    </span>
    <span style="overflow: visible; position: relative;">
      <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openExport()"><i class="flaticon-download primary"></i></a>
  </span>
</div>

<p-dialog *ngIf="viewActive" id="epiCurve-settings-pane" [(visible)]="ShowEpiSettingsPane" header="Epi Curve Settings"
  [style]="{width: '500px', height:'490px'}" appendTo="body">
  <div class="tab-pane fade show active" id="table-node-settings" role="tabpanel" aria-labelledby="nodes-tab">
    <div class="tab-content">
      <div class="tab-pane fade show active" role="tabpanel">
        <div class="form-group row" title="Select the type of graph based on the number of date field you wish to display.">
          <div class="col-4">
            <label>Graph Type</label>
          </div>
          <div class="col-8">
            <p-dropdown [options]="graphTypes" appendTo="body"  [(ngModel)]="selectedGraphType" (ngModelChange)="onGraphTypeChange()"></p-dropdown>
          </div>
        </div>
        <div class="form-group row" title="Select a date field from your data. One is required to generate graph.">
          <div class="col-4">
            <label>Date Field</label>
          </div>  
          <div class="col-6" style="padding-right: 5px">
            <p-dropdown id="epiCurve-date-field" [options]="FieldList" appendTo="body"  [(ngModel)]="SelectedDateFieldVariable" (ngModelChange)="onDateFieldChange(0)"></p-dropdown>
          </div>
          <div class="col-2" style="padding: 0px 15px 0px 10px" *ngIf="selectedGraphType!='Single Date Field' || widgets['epiCurve-stackColorBy'] == 'None'" title="Select a color for this date field.">
            <input type="color" id="epi-color-select" class="form-control" style="padding: 5px 8px;" [(ngModel)]="widgets['epiCurve-colors'][0]" (change)="onNodeColorChanged()">
          </div>  
        </div>
        <div class="form-group row additionalDateField" *ngIf="selectedGraphType!='Single Date Field'" title="Select an additional date field.">
          <div class="col-4">
            <label>Date Field 2</label>
          </div>
          <div class="col-6" style="padding-right: 5px">
            <p-dropdown id="epiCurve-date-field" [options]="FieldList" appendTo="body"  [(ngModel)]="SelectedDateFieldVariable2" (ngModelChange)="onDateFieldChange(1)"></p-dropdown>
          </div>
          <div class="col-2" style="padding: 0px 15px 0px 10px" title="Select a color for this date field.">
            <input type="color" id="node-color" class="form-control" style="padding: 5px 8px;" [(ngModel)]="widgets['epiCurve-colors'][1]" (change)="onNodeColorChanged()">
          </div>
        </div>
        <div class="form-group row additionalDateField" *ngIf="selectedGraphType!='Single Date Field'" title="Select an additional date field.">
          <div class="col-4">
            <label>Date Field 3</label>
          </div>
          <div class="col-6" style="padding-right: 5px">
            <p-dropdown id="epiCurve-date-field" [options]="FieldList" appendTo="body"  [(ngModel)]="SelectedDateFieldVariable3" (ngModelChange)="onDateFieldChange(2)"></p-dropdown>
          </div>
          <div class="col-2" style="padding: 0px 15px 0px 10px" title="Select a color for this date field.">
            <input type="color" id="node-color" class="form-control" style="padding: 5px 8px;" [(ngModel)]="widgets['epiCurve-colors'][2]" (change)="onNodeColorChanged()">
          </div>
        </div>
        <div class="form-group row" id="useNodeColorRow" *ngIf="selectedGraphType=='Single Date Field'" title="Select a field to use to color the graph. Optional">
          <div class="col-4">
            <label>Color By</label>
          </div>
          <div class="col-6" style="padding-right: 5px">
            <p-dropdown id="epiCurve-date-field" [options]="FieldListStack" appendTo="body"  [(ngModel)]="this.widgets['epiCurve-stackColorBy']" (ngModelChange)="onUseNodeColorChange()"></p-dropdown>
          </div>
        </div>
        <div class="form-group row" title="Select the size to bin the data by.">
          <div class="col-4">
            <label>Bin Size</label>
          </div>
          <div class="col-8">
            <p-dropdown id="epiCurve-date-field" [options]="binSizes" appendTo="body"  [(ngModel)]="widgets['epiCurve-binSize']" (ngModelChange)="onBinSizeChange()"></p-dropdown>
          </div>
        </div>
        <div class="form-group row" title="What interval to display ticks on x axis" id="epi-tick-size">
          <div class="col-4">
              <label for="cluster-minimum-size">X-axis Interval</label>
          </div>
          <div class="col-8">
              <input type="number" class="form-control form-control-sm" min="1" max="4" step="1" [(ngModel)]="tickInterval" (ngModelChange)="onTickIntevalChange()">
          </div>
      </div>
        <div class="form-group row" title="Show data noncumulatively or cumulatively.">
          <div class="col-4">Epi Curve</div>
          <div class="col-8">
            <div class="btn-group btn-group-toggle w-100">
              <label class="btn btn-light btn-sm col" [class.active]="!widgets['epiCurve-cumulative']">
                <input type="radio" name="epiCurve-cumulation" (click)="setCumulative(false)">
                Noncumulative
              </label>
              <label class="btn btn-light btn-sm col" [class.active]="widgets['epiCurve-cumulative']">
                <input type="radio" name="epiCurve-cumulation" (click)="setCumulative(true)">
                Cumulative
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row" id="useNodeColorRow" title="Select where to display the legend.">
          <div class="col-4">
            <label>Legend Position</label>
          </div>
          <div class="col-8">
            <p-selectButton [options]="legendPositionOptions" [(ngModel)]="widgets['epiCurve-legendPosition']" (ngModelChange)="onLegendPositionChange()"></p-selectButton>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog *ngIf="viewActive" id="epi-export-modal" [(visible)]="ShowEpiExportPane" appendTo="body" header="Export Epi Curve">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body" style='min-width: 400px; height: 100%;'>
              <div class="form-group row">
                  <div class="col-9">
                      <input type="text" class="form-control form-control-sm" placeholder="Filename" [(ngModel)]="EpiExportFileName">
                  </div>
                  <div class="col-3">
                      <select [(ngModel)]="EpiExportFileType" class="form-control form-control-sm">
                          <option>svg</option>
                          <option>png</option>
                      </select>
                  </div>
              </div>
              <div [hidden]="EpiExportFileType=='svg'">
                <p-accordion>
                    <p-accordionTab style="color:#495057" header="Advanced">
                        <div id="network-export-advanced">
                            <div class="form-group row">
                                <div class="col-3">
                                    <label for="network-export-scale">Scale</label>
                                </div>
                                <div class="col-9">
                                    <input type="number" id="network-export-scale" class="form-control form-control-sm" min="0" max="2" step="0.1" value="1" [(ngModel)]="SelectedNetworkExportScaleVariable" (ngModelChange)="updateCalculatedResolution()">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-3">Resolution</div>
                                <div id="network-export-dimensions" class="col-9 text-right">{{CalculatedResolution}}</div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label for="network-export-quality">Quality</label>
                                </div>
                                <div class="col-9">
                                    <input type="range" class="custom-range" id="network-export-quality" min="0" max="1.0" value="0.92" step="0.01" [(ngModel)]="SelectedNetworkExportQualityVariable">
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-error" (click)="ShowEpiExportPane = false">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="exportVisualization()">Export</button>
          </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</p-dialog><!-- /.modal -->

