<div class="m-content">
    <div id="tool-btn-container" class="m-portlet">
        <span style="overflow: visible; position: relative; width: 110px;">
            <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
        </span>
        <span style="overflow: visible; position: relative; width: 110px;">
            <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openExport()"><i class="flaticon-download primary"></i></a>
        </span>
        <span style="overflow: visible; position: relative; width: 110px;">
            <a title="Center Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="openCenter()"><i class="flaticon-eye primary"></i></a>
        </span>
    </div>
    <div class="m-portlet__body" style="height: 100%;">
        <br />
        <div className="gantt-plugin" id="gantt" style="cursor: grab;">
            <ngx-gantt-chart [data]="ganttChartData" colorScheme="cool"></ngx-gantt-chart>
        </div>
        <div id="phyloTooltip"></div>
    </div>
</div>
