<div class="m-content">
    <div id="tool-btn-container" class="m-portlet">
        <span style="overflow: visible; position: relative; width: 110px;">
            <a title="Settings" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left"
                (click)="openSettings()"><i class="flaticon-settings primary"></i></a>
        </span>
        <span style="overflow: visible; position: relative; width: 110px;">
            <a title="Export Screen" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left"
                (click)="openExport()"><i class="flaticon-download primary"></i></a>
        </span>
    </div>
    <div class="m-portlet__body" style="height: 100%; overflow: scroll">
        <br />
        <div className="gantt-plugin" id="gantt" ngShow="dataAvail()" style="cursor: grab;">
            <ngx-gantt-chart [data]="ganttChartData"></ngx-gantt-chart>
        </div>
    </div>
</div>
<div class="view-controls">

    <p-dialog *ngIf="viewActive" id="gantt-settings-pane" [positionLeft]="GanttSettingsDialogSettings.left"
        [positionTop]="GanttSettingsDialogSettings.top" [(visible)]="GanttSettingsDialogSettings.isVisible"
        [contentStyle]="{'overflow': 'visible'}" header="Gantt Settings" appendTo="body">
        <tabset class="tab-container tabbable-line">
            <tab heading="{{'Gantt Entry' | localize}}" [active]="true" customClass="m-tabs__item">
                <p-accordion [multiple]="true" [activeIndex]="[0]">
                    <p-accordionTab style="color:#495057" header="New Entry" [active]="true">
                        <div #entrycontrols>
                            <div class="form-group row entry-name-row" title="What is the name of the entry?"
                                style="overflow:visible">
                                <div class="col-4"><label for="entry-name">Gantt Entry Name</label></div>
                                <div class="col-8">
                                    <input type="text" id="entry-name" class="form-control form-control-sm"
                                        placeholder="Entry Name" [(ngModel)]="GanttEntryName">
                                </div>
                            </div>
                            <div class="form-group row gantt-start-row" title="What field is the start date?"
                                style="overflow:visible">
                                <div class="col-4"><label for="gantt-start">Start Date</label></div>
                                <div class="col-8">
                                    <p-dropdown id="gantt-start" appendTo="body" [options]="FieldList"
                                        [(ngModel)]="GanttStartVariable"> </p-dropdown>
                                </div>
                            </div>
                            <div class="form-group row gantt-end-row" title="What field is the end date?"
                                style="overflow:visible">
                                <div class="col-4"><label for="gantt-end">End Date</label></div>
                                <div class="col-8">
                                    <p-dropdown id="gantt-end" appendTo="body" [options]="FieldList"
                                        [(ngModel)]="GanttEndVariable"> </p-dropdown>
                                </div>
                            </div>
                            <div class="form-group row gantt-color-row" title="What color should the entry be?"
                                style="overflow:visible">
                                <div class="col-4"><label for="gantt-color">Color</label></div>
                                <div class="col-8">
                                    <input type="color" id="gantt-color" [(ngModel)]="GanttEntryColor">
                                </div>
                            </div>
                            <div class="form-group row gantt-submit-row" style="overflow:visible">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button type="button" class="btn btn-primary" (click)="createGanttEntry()">Create
                                        Entry</button>
                                </div>
                            </div>
                        </div>
                        <p-table [value]="ganttEntries" styleClass="p-datatable-striped" *ngIf="ganttEntries.length > 0">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class='p-1 table-header-row'>Name</th>
                                    <th class='p-1 table-header-row'>Start</th>
                                    <th class='p-1 table-header-row'>End</th>
                                    <th class='p-1 table-header-row'>Color</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr>
                                    <td>{{ rowData.entryName }}</td>
                                    <td>{{ rowData.startDate }}</td>
                                    <td>{{ rowData.endDate }}</td>
                                    <td><input type="color" value="{{ rowData.color }}" (change)="updateEntryColor(rowData.entryName, $event)"></td>
                                    <td>
                                        <a title="Remove" class="btn btn-sm btn-clean btn-icon btn-icon-md" style="float:left" (click)="removeGanttEntry(rowData.entryName)">
                                            <span class="material-icons"> delete_outline </span>
                                        </a>
                                    </td>
                                </tr>
                            </ng-template>

                        </p-table>
                    </p-accordionTab>
                </p-accordion>
            </tab>
        </tabset>
    </p-dialog>
</div>

<p-dialog *ngIf="viewActive" id="network-export-modal" [(visible)]="ShowGanttExportPane"
    header="Export Gantt Chart" class="dialogSize" (onHide)="onCloseExport()" appendTo="body">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style='min-width: 500px; height: 100%;'>
                <div class="form-group row">
                    <div class="col-8">
                        <input type="text" id="gantt-image-filename" class="form-control form-control-sm"
                            placeholder="Image Filename" [(ngModel)]="SelectedGanttChartImageFilenameVariable">
                    </div>
                    <div class="col-3">
                        <p-dropdown id="network-export-filetype" [options]="NetworkExportFileTypeList"
                            [(ngModel)]="SelectedNetworkExportFileTypeListVariable"></p-dropdown>
                    </div>
                    <div class="col-8">
                        <button type="button" id="export-tree" class="btn btn-primary"
                            (click)="saveImage()">Save Image</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</p-dialog><!-- /.modal -->